<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Trainer availability</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="calendar.date"
          decrement="calendar.view">
          Previous
        </button>

        <button
          class="btn btn-default"
          mwl-date-modifier
          date="calendar.date"
          set-to-today>
          Today
        </button>

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="calendar.date"
          increment="calendar.view">
          Next
        </button>
        
        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="calendar.view" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-primary" ng-model="calendar.view" uib-btn-radio="'month'">Month</label>
            <label class="btn btn-primary" ng-model="calendar.view" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-primary" ng-model="calendar.view" uib-btn-radio="'day'">Day</label>
          </div>
        </div>
          
        <mwl-calendar
          view="calendar.view"
          view-date="calendar.date"
          events="calendar.trainer.availabilites"
          day-view-split="15"
          cell-is-open="isCellOpen"
          on-event-times-changed="updateFromCalendar(calendarEvent, calendarNewEventStart, calendarNewEventEnd);">
        </mwl-calendar>
        
        <h3 id="event-editor">
          Edit trainer availability
          <button
            class="btn btn-primary pull-right"
            ng-click="addNew();">
            Add new
          </button>
          <div class="clearfix"></div>
        </h3>

        <table class="table table-bordered">

          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="event in calendar.trainer.availabilites | orderBy : event.startsAt">
              <td ng-bind="event.title"></td>
              <td ng-bind="event.startsAt | date : 'yyyy-MM-dd'"></td>
              <td ng-bind="event.startsAt | date : 'HH:mm'"></td>
              <td ng-bind="event.endsAt | date : 'HH:mm'"></td>
              <td>
                <button class="btn btn-danger pull-right" ng-click="delete(event, $index);">Delete</button>
                <button class="btn btn-default pull-right" style="margin-right: 10px" ng-click="edit(event);">Edit</button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</section>
