<section ng-init="prepareFormData()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>New speaking test result</h1>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <form name="speaking_testResultForm" class="form-horizontal" ng-submit="create(speaking_testResultForm.$valid)" novalidate form-spinner>
        <fieldset>
          <div class="form-group" >
          <label>Add file with test result</label>
          
          <div ng-hide="uploader.queue.length">
            <span class="btn btn-default btn-file">
              Select File
              <input type="file" class="form-control" nv-file-select uploader="uploader" name="speakingTestResult">
            </span>
          </div>
          
          <div ng-repeat="item in uploader.queue">
<!--            <input type="text" disabled="true" value="{{item.file.name}}" id="title" class="form-control" placeholder="File name" required>-->
            <span class="glyphicon glyphicon-file"></span>
          </div>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadTestResult();">Save</button>
          
          <div ng-show="error" class="text-center alert alert-success">
            <strong>File added successfully</strong>
          </div>
          <div ng-show="error" class="text-center alert alert-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>