<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{url}}{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{url}}modules/core/img/brand/logo.png">

  <!-- Fav Icon -->
  <link href="{{url}}{{favicon}}" rel="shortcut icon" type="image/x-icon">
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak menu-collapsed" oncontextmenu="return false;" oncopy="return false" oncut="return false" onpaste="return false">
  <div growl></div>
  
  <div class="body-overlay">
    <div class="table">
      <div class="cell">
        <h3>Close menu to hide overlay</h3>
      </div>
    </div>
  </div>
  <header class="navbar navbar-fixed-top navbar-seanjs main-header">
    <div class="container-fluid" ng-controller="HeaderController">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-3">
          <h1>
            <a href="/" title="Accent 4professionals" class="main-logo">
              <img ng-src="/modules/core/client/img/brand/accent_logo-white.jpg" class="img-responsive" alt="Accent 4professionals">
            </a>
          </h1>
        </div>
      </div>
    </div>
  </header>
  
  <section class="content">
    {% block content %}{% endblock %}
  </section>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}


  {% if googleAnalyticsTrackingID %}
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{googleAnalyticsTrackingID}}', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  {% endif %}

</body>

</html>
