<div class="modal-header">
    <h3 class="modal-title">Add new availability</h3>
</div>
<div class="modal-body">
  <form name="newAvailabilityForm" novalidate>
    <fieldset>
      <div class="form-group" show-errors>
        <label>Item title</label>
        <input type="text" name="title" class="form-control" ng-model="item.title" placeholder="Title" required>
        <div ng-messages="newAvailabilityForm.title.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Item title is required.</p>
        </div>
      </div>
      <div>
        <label>Item date</label>
      </div>
      <div class="form-group" show-errors >
        <div class="input-group" style="max-width: 300px;">
          <input
            type="text"
            name="date"
            class="form-control"
            readonly
            uib-datepicker-popup="yyyy-MM-dd"
            ng-model="item.date"
            min-date="calendarMinDate"
            is-open="calendarOpen"
            close-text="Close"
            required
            datepicker-options="datepickerOptions">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="toggleCalendar($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
        
        <div ng-messages="newAvailabilityForm.date.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Item date is required.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div>
            <label>Item starts at</label>
          </div>
          <div class="form-group" >
            <uib-timepicker
              ng-model="item.startsAt"
              hour-step="1"
              minute-step="15"
              show-meridian="false"
              readonly-input="true"
              max="item.endsAt">
            </uib-timepicker>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div>
            <label>Item ends at</label>
          </div>
          <div class="form-group" >
            <uib-timepicker
              ng-model="item.endsAt"
              hour-step="1"
              minute-step="15"
              show-meridian="false"
              readonly-input="true"
              min="item.startsAt">
            </uib-timepicker>
          </div>
        </div>
      </div>
      
      <div class="form-group" show-errors ng-if="isNewItem">
        <label>Repeat for</label>
        <select id="repeat" name="repeat" class="form-control" ng-model="item.repeat" placeholder="Repeat" required>
          <option value="1">1 week</option>
          <option value="2">2 weeks</option>
          <option value="3">3 weeks</option>
          <option value="4">4 weeks</option>
          <option value="5">5 weeks</option>
          <option value="6">6 weeks</option>
          <option value="7">7 weeks</option>
          <option value="8">8 weeks</option>
          <option value="16">16 weeks</option>
          <option value="20">20 weeks</option>
        </select>
        <div ng-messages="newAvailabilityForm.repeat.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Item repeat is required.</p>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="returnItem(newAvailabilityForm.$valid)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>