<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{admin}}, <br />
    New {{role}} account at {{appName}} has been created! New username is <strong>{{username}}</strong> and they password is <strong>{{pass}}</strong>. 
  </p>
</body>

</html>