<div class="footer" ng-controller="FooterController">  
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-separator">
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <p>Some text or menu</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>Some text or menu</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="text-logo pull-right">
            <h2>Accent for Professionals</h2>
            <h3>Connect SYSTEM - Language Assessment</h3>
        </div>
      </div>
    </div>
  </div>
</div>