<div class="container-fluid" ng-controller="HeaderController">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-3">      
      <h1>
        <a href="/" title="Accent 4professionals" class="main-logo">
          <img ng-src="/modules/core/client/img/brand/accent_logo-white.jpg" class="img-responsive" alt="Accent 4professionals">
        </a>
      </h1>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-9">
      <nav class="" role="navigation">
        <ul class="nav navbar-nav navbar-right auth-nav" ng-hide="authentication.user">
          <li class="divider-vertical"></li>
          <li ui-sref-active="active">
            <a ui-sref="authentication.signin">Sign In</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
