<div class="container-fluid" ng-controller="HeaderController">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-3">      
      <h1>
        <a href="/" title="Accent 4professionals" class="main-logo">
          <img ng-src="/modules/core/client/img/brand/accent_logo-white.jpg" class="img-responsive" alt="Accent 4professionals">
        </a>
      </h1>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-9">
      <nav class="" role="navigation">
        <ul class="nav navbar-nav navbar-right auth-nav" ng-hide="authentication.user">
          <li class="divider-vertical"></li>
          <li ui-sref-active="active">
            <a ui-sref="authentication.signin">Sign In</a>
          </li>
        </ul>
        <ul class="user-nav pull-right" ng-show="authentication.user">
          <li class="dropdown" dropdown>
            <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
              <span ng-if="authentication.user.profileImageURL">
                <img ng-src="/uploads/users/profile/{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
              </span>

              <span ng-if="!authentication.user.profileImageURL">
                <img ng-src="/modules/core/client/img/brand/favicon.png" alt="{{authentication.user.displayName}}" class="header-profile-image-default" />
              </span>
              <div class="user-data">
                <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
              </div>
            </a>
            
            <ul class="dropdown-menu">
              <li ui-sref-active="active">
                <a ui-sref="settings.profile">Edit Profile</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="settings.picture">Change Profile Picture</a>
              </li>
              <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                <a ui-sref="settings.password">Change Password</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/api/auth/signout" target="_self">Signout</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
