<section ng-controller="HomeController" class="container-fluid home-container">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img ng-src="modules/core/client/img/brand/accent_logo-white.png" alt="SEAN.JS Stack" class="img-responsive text-center" style="margin: 30px auto 0;" />
      </div>
    </div>
    <br>
    <div class="row">
      <h2>Welcome to LA TOOL</h2>
    </div>

</section>