<div ng-controller="MainMenuController">
  <div class="sidebar-main-menu collapsed" ng-if="menu.shouldRender(authentication.user);" main-menu>
    <ul>
      <li ng-repeat="item in menu.items| orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" ng-class="{ active: $state.includes(item.state), 'submenu-toggler' : true }" role="button">{{::item.title}}&nbsp;<span class="caret"></span> <div ng-bind-html="item.icon" ng-if="item.icon" class="item-icon"></div></a>
        <ul ng-switch-when="dropdown" ng-class="{ opened: $state.includes(item.state), 'submenu' : true }">
          <li ng-repeat="subitem in item.items| orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}">{{::item.title}} <div ng-bind-html="item.icon" ng-if="item.icon" class="item-icon"></div></a>
      </li>
    </ul>
    
    <button class="close-sidebar-menu menu-collapsed"><i class="fa fa-arrow-circle-left"></i></button>
  </div>
</div>