/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2016, 2:28:36 PM
    Author     : klapek23
*/

@import '../../../core/client/less/mixins';
@import '../../../core/client/less/elements';

.writing-tests {
  .writing-test-pattern {
    form {
      .question {
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
        padding: 20px 150px 20px 0;
        position: relative;
        .no {
          .font-size(3);
          padding-left: 10px;
        }
        .add-answer {
          cursor: pointer;
          color: @color-green;
          display: inline-block;
          margin-left: 10px;
          .font-size(1.6);
          .transition(200ms);
          &:hover {
            color: darken(@color-green, 20%);
          }
        }
        .remove-answer {
          line-height: 20px;
          cursor: pointer;
          color: @color-red;
          display: inline-block;
          margin-left: 10px;
          .font-size(1.6);
          .transition(200ms);
          &:hover {
            color: darken(@color-red, 20%);
          }
        }
        .inputs-list {
          li {
            position: relative;
            padding-right: 30px;
            input {
              border: none;
              width: 100%;
            }
            .check {
              position: absolute;
              left: -40px;
              top: 3px;
              background: transparent;
              padding: 0;
              line-height: 1;
              border: none;
              cursor: pointer;
              color: @color-green;
              .opacity(.6);
              .font-size(2);
              .transition(200ms);
              &:hover {
                .opacity(1);
              }
              &.active {
                .opacity(1);
                color: darken(@color-green, 20%);
              }
            }
            .remove-answer {
              position: absolute;
              right: 0;
            }
            .error-text {
              display: block;
              .font-size(1.4);
            }
          }
        }
        .remove-question {
          cursor: pointer;
          color: @color-red;
          position: absolute;
          right: 20px;
          top: 20px;
          .font-size(5);
          .transition(200ms);
          &:hover {
            color: darken(@color-red, 20%);
          }
        }
      }
    }
  }
}

.items-list {
  .item {
    margin-bottom: 40px;
    i {
      .font-size(6);
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
      .font-size(2);
    }
    .options {
      margin-bottom: 20px;
      a, button {
        cursor: pointer;
        display: block;
        background: transparent;
        border: none;
        padding: 0;
        .transition(200ms);
        i {
          .font-size(1.4);
        }
        span {
          display: inline-block;
          margin-left: 3px;
          .font-size(1.4);
        }
        &:hover {
          text-decoration: none;
        }
        &.delete {
          color: @color-red;
          &:hover {
            color: darken(@color-red, 20%);
          }
        }
      }
    }
    table {
      tr {
        td {
          .font-size(1.3);
          &:nth-child(odd) {
            font-weight: 600;
            padding: 2px 5px 3px 0;
          }
          &:nth-child(even) {
            padding: 2px 0 3px 5px;
          }
        }
      }
    }
  }
}

.writing-test-candidate-form {
  .no {
    .font-size(3.6);
    padding-left: 10px;
    line-height: 1.2;
  }
  label {
    .font-size(1.8);
  }
  .radio-list {
    list-style: none;
    li {
      margin-bottom: 5px;
      label {
        .font-size(1.4);
        font-weight: normal;
        cursor: pointer;
        position: relative;
        input {
          position: absolute;
          left: -20px;
        }
      }
    }
  }
  textarea {
    width: 100%;
    height: 150px;
    display: block;
    resize: none;
  }
  input[type="submit"] {
    margin-top: 30px;
    width: 100%;
    .font-size(1.8);
  }
}


.test-info {
  margin-top: 20px;
  th {
    width: 200px;
  }
}

.test-results {
  .row-number {
    font-weight: 600;
  }
  .question-label {
    font-weight: 600;
    display: block;
  }
  .question-correct-answer {
    display: block;
    margin-top: 5px;
    color: #419641;
  }
  .buttons {
    button {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      .font-size(3.2);
      .transition(200ms);
      &.correct {
        color: @color-green;
        &:hover {
          color: darken(@color-green, 20%);
        }
      }
      &.incorrect {
        color: @color-red;
        &:hover {
          color: darken(@color-red, 20%);
        }
      }
    }
  }
}

test-downtime {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  z-index: 20;
  .transform(translateY(300px));
  .transition(.6s);
  .clock {
    background: #fff;
    border: 3px solid @color-blue;
    padding: 5px 15px;
    font-size: 26px;
    color: @color-blue;
    .border-radius(8px, 8px, 8px, 8px);
    .box-shadow(3px 2px 5px 0 rgba(0,0,0,.5));
  }
  &.active {
    opacity: 1;
    .transform(translateY(0));
  }
}