<section ng-controller="LanguagesController" ng-init="findOne()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Edit language - <span ng-bind="language.title"></span></h1>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <form name="languagesForm" class="form-horizontal" ng-submit="update(languagesForm.$valid)" novalidate form-spinner>
        <fieldset>
          <div class="form-group" show-errors>
            <label for="title">Title</label>
            <input name="title" type="text" ng-model="language.title" id="title" class="form-control" placeholder="Title" required>
            <div ng-messages="languagesForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Language title is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" ng-model="language.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-center alert alert-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>