<section ng-controller="ListLanguagesController" ng-init="find()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Languages</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a ui-sref="languages.create" title="Add language" class="btn btn-success">Add language</a>
        </div>
        <div class="col-md-8">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>
      </div>
    </div>
    
    <table class="table table-hover table-striped responsive-table sorted-table">
      <thead>
        <tr>
          <th>#</th>
          <th ng-click="sortTable('title')" ng-class="{'sort-active': sortBy === 'title', 'reverse': sortReverse, 'sort-available': true}">Name</th>
          <th ng-click="sortTable('content')" ng-class="{'sort-active': sortBy === 'content', 'reverse': sortReverse, 'sort-available': true}">Description</th>
          <th ng-click="sortTable('createdAt')" ng-class="{'sort-active': sortBy === 'createdAt', 'reverse': sortReverse, 'sort-available': true}">Created at</th>
          <th ng-click="sortTable('updatedAt')" ng-class="{'sort-active': sortBy === 'updatedAt', 'reverse': sortReverse, 'sort-available': true}">Updated at</th>
          <th><span class="pull-right">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="language in pagedItems">
          <td data-label="#">{{$index + 1}}</td>
          <td data-label="Title" ng-bind="language.title"></td>
          <td data-label="Description" ng-bind="language.content"></td>
          <td data-label="Created at" ng-bind="language.createdAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Updated at" ng-bind="language.updatedAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Actions">
            <div class="pull-right">
              <a class="btn btn-primary" ui-sref="languages.edit({languageId: language.id})">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-danger" ng-click="remove(language)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    
    <div class="alert alert-warning text-center" ng-if="!languages.length">
      No languages yet, why don't you <a ui-sref="languages.create">create one</a>?
    </div>
  </div>
</section>