<section ng-controller="LanguagesController" ng-init="findOne()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1 ng-bind="language.title"></h1>
        </div>
      </div>
    </div>
    <div class="pull-right" ng-show="authentication.user.id == language.user.id || (authentication.user.roles.indexOf('admin') >= 0 && authentication.user.roles.indexOf('admin') != -1) || (authentication.user.roles.indexOf('client') >= 0 && authentication.user.roles.indexOf('client') != -1)">
      <a class="btn btn-primary" ui-sref="languages.edit({languageId: language.id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove(language);">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <small>
      <em class="text-muted">
        Created on
        <span ng-bind="test.createdAt | date:'yyyy-MM-dd HH:mm'"></span>
        by
        <span ng-bind="language.user.username"></span>
      </em>
    </small>
    <p class="lead" ng-bind="language.content"></p>
  </div>
</section>