/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2016, 2:28:36 PM
    Author     : klapek23
*/
/* ---------------------- 5. MIXINS ---------- */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.writing-tests .writing-test-pattern form .question {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding: 20px 150px 20px 0;
  position: relative;
}
.writing-tests .writing-test-pattern form .question .no {
  font-size: 30px;
  font-size: 3rem;
  padding-left: 10px;
}
.writing-tests .writing-test-pattern form .question .add-answer {
  cursor: pointer;
  color: #9ac442;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.writing-tests .writing-test-pattern form .question .add-answer:hover {
  color: #5f7a26;
}
.writing-tests .writing-test-pattern form .question .remove-answer {
  line-height: 20px;
  cursor: pointer;
  color: #a94442;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.writing-tests .writing-test-pattern form .question .remove-answer:hover {
  color: #602625;
}
.writing-tests .writing-test-pattern form .question .inputs-list li {
  position: relative;
  padding-right: 30px;
}
.writing-tests .writing-test-pattern form .question .inputs-list li input {
  border: none;
  width: 100%;
}
.writing-tests .writing-test-pattern form .question .inputs-list li .check {
  position: absolute;
  left: -40px;
  top: 3px;
  background: transparent;
  padding: 0;
  line-height: 1;
  border: none;
  cursor: pointer;
  color: #9ac442;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  font-size: 20px;
  font-size: 2rem;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.writing-tests .writing-test-pattern form .question .inputs-list li .check:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.writing-tests .writing-test-pattern form .question .inputs-list li .check.active {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  color: #5f7a26;
}
.writing-tests .writing-test-pattern form .question .inputs-list li .remove-answer {
  position: absolute;
  right: 0;
}
.writing-tests .writing-test-pattern form .question .inputs-list li .error-text {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
}
.writing-tests .writing-test-pattern form .question .remove-question {
  cursor: pointer;
  color: #a94442;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 50px;
  font-size: 5rem;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.writing-tests .writing-test-pattern form .question .remove-question:hover {
  color: #602625;
}
.items-list .item {
  margin-bottom: 40px;
}
.items-list .item i {
  font-size: 60px;
  font-size: 6rem;
}
.items-list .item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-size: 2rem;
}
.items-list .item .options {
  margin-bottom: 20px;
}
.items-list .item .options a,
.items-list .item .options button {
  cursor: pointer;
  display: block;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.items-list .item .options a i,
.items-list .item .options button i {
  font-size: 14px;
  font-size: 1.4rem;
}
.items-list .item .options a span,
.items-list .item .options button span {
  display: inline-block;
  margin-left: 3px;
  font-size: 14px;
  font-size: 1.4rem;
}
.items-list .item .options a:hover,
.items-list .item .options button:hover {
  text-decoration: none;
}
.items-list .item .options a.delete,
.items-list .item .options button.delete {
  color: #a94442;
}
.items-list .item .options a.delete:hover,
.items-list .item .options button.delete:hover {
  color: #602625;
}
.items-list .item table tr td {
  font-size: 13px;
  font-size: 1.3rem;
}
.items-list .item table tr td:nth-child(odd) {
  font-weight: 600;
  padding: 2px 5px 3px 0;
}
.items-list .item table tr td:nth-child(even) {
  padding: 2px 0 3px 5px;
}
.writing-test-candidate-form .no {
  font-size: 36px;
  font-size: 3.6rem;
  padding-left: 10px;
  line-height: 1.2;
}
.writing-test-candidate-form label {
  font-size: 18px;
  font-size: 1.8rem;
}
.writing-test-candidate-form .radio-list {
  list-style: none;
}
.writing-test-candidate-form .radio-list li {
  margin-bottom: 5px;
}
.writing-test-candidate-form .radio-list li label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}
.writing-test-candidate-form .radio-list li label input {
  position: absolute;
  left: -20px;
}
.writing-test-candidate-form textarea {
  width: 100%;
  height: 150px;
  display: block;
  resize: none;
}
.writing-test-candidate-form input[type="submit"] {
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  font-size: 1.8rem;
}
.test-info {
  margin-top: 20px;
}
.test-info th {
  width: 200px;
}
.test-results .row-number {
  font-weight: 600;
}
.test-results .question-label {
  font-weight: 600;
  display: block;
}
.test-results .question-correct-answer {
  display: block;
  margin-top: 5px;
  color: #419641;
}
.test-results .buttons button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 32px;
  font-size: 3.2rem;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.test-results .buttons button.correct {
  color: #9ac442;
}
.test-results .buttons button.correct:hover {
  color: #5f7a26;
}
.test-results .buttons button.incorrect {
  color: #a94442;
}
.test-results .buttons button.incorrect:hover {
  color: #602625;
}
test-downtime {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  z-index: 20;
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
test-downtime .clock {
  background: #fff;
  border: 3px solid #204d6a;
  padding: 5px 15px;
  font-size: 26px;
  color: #204d6a;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
test-downtime.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
