<div class="container-fluid">
  <div class="row">
    <section class="text-center">
      <h3 class="col-md-12">Password successfully reset</h3>
      <a ui-sref="home" class="col-md-12">Continue to home page</a>
    </section>
  </div>
</div>