<div class="container-fluid">
  <div class="row">
    <section class="text-center">
      <h3 class="col-md-12">Password reset is invalid</h3>
      <a ui-sref="password.forgot" class="col-md-12">Ask for a new password reset</a>
    </section>
  </div>
</div>