<section ng-controller="PasswordController">
  <div class="container-fluid">
    <div class="row">
      <br /><br />
      <div class="col-md-4 col-md-offset-4">
        <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Reset your password</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="form-group" show-errors>
                  <label for="newPassword">New Password</label>
                  <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" popover="{{popoverMsg}}" popover-trigger="focus" popover-placement="top" password-validator
                  required>
                  <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Enter a new password.</p>
                    <div ng-repeat="passwordError in passwordErrors">
                      <p class="help-block error-text" ng-show="resetPasswordForm.newPassword.$error.strength">{{passwordError}}</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="form-group" show-errors>
                  <label for="verifyPassword">Verify Password</label>
                  <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.newPassword" required>
                  <div ng-messages="resetPasswordForm.verifyPassword.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
                    <p class="help-block error-text" ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="form-group" ng-show="!resetPasswordForm.newPassword.$pristine">
                  <label>Password Strength</label>
                  <progressbar value="strengthProgress" type="{{strengthColor}}">
                    <span style="color:white; white-space:nowrap;">{{strengthProgress}}%</span>
                  </progressbar>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td align="center">
                  <button type="submit" class="btn btn-primary">Update Password</button>
                </td>
              </tr>
              <tr>
                <td>
                  <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                  <div ng-show="success" class="text-center alert alert-success">
                    <strong ng-bind="success"></strong>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>

        </form>
      </div>
    </div>
  </div>
</section>
