<section ng-init="findOne()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Edit speaking test</h1>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <form name="speaking_testForm" class="form-horizontal" ng-submit="update(speaking_testForm.$valid)" novalidate form-spinner>
        <fieldset>
          <div class="form-group" show-errors >
            <label>Candidate’s full name</label>
            <input type="text" name="candidatefullName" class="form-control" ng-model="test.candidateFullName" placeholder="Candidate full name" required>
            <div ng-messages="speaking_testForm.candidatefullName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Candidate name and surname are required.</p>
            </div>
          </div>
          
          <div class="form-group" show-errors >
            <label>Candidate’s phone no/Skype ID</label>
            <input type="tel" name="candidatePhone" class="form-control" ng-model="test.candidatePhone" placeholder="Candidate phone" required>
            <div ng-messages="speaking_testForm.candidatePhone.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Candidate phone number is required.</p>
            </div>
          </div>
          
<!--          <div class="form-group" show-errors >
            <label>Candidate’s email</label>
            <input type="email" name="candidateEmail" class="form-control" ng-model="test.candidateEmail" placeholder="Candidate email" required>
            <div ng-messages="speaking_testForm.candidateEmail.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Candidate email number is required.</p>
              <p class="help-block error-text" ng-message="email">Please provide valid email address.</p>
            </div>
          </div>-->
          
          <div ng-if="authentication.user.roles === 'admin'" class="form-group" show-errors>
            <label>Client</label>
            <select id="client" name="client" class="form-control" ng-model="test.client" placeholder="Client" required ng-options="client as client.nameWithCompany for client in clients track by client.id"></select>
            <div ng-messages="speaking_testForm.client.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Client is required.</p>
            </div>
          </div>
          
          <div class="form-group" show-errors >
            <label>Language</label>
            <select id="language" name="language" class="form-control" ng-model="test.language" placeholder="Language" required ng-options="language as language.title for language in languages track by language.id" ng-change="getTrainersByLanguage(); getAvailableDaysByLanguage();"></select>
            <div ng-messages="speaking_testForm.language.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Language is required.</p>
            </div>
          </div>
          
          <div class="form-group" show-errors>
            <label for="date">Date</label>
            <p class="input-group" style="max-width: 250px">
              <input name="date" type="text" ng-model="test.date" disabled id="date" class="form-control" placeholder="Date" uib-datepicker-popup datepicker-options="datepickerOptions" is-open="datepickerOptions.opened" date-disabled="datepickerOptions.availableDays(date, mode)" show-button-bar="false" ng-change="getAvailableTrainersByDateAndLanguage(); test.timeRange = undefined;" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datepickerOptions.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <div ng-messages="speaking_testForm.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Speaking test date is required.</p>
            </div>
          </div>
          
          <div class="form-group" show-errors >
            <label>Trainer</label>
            <select id="trainer" name="trainer" class="form-control" ng-model="test.trainer" placeholder="Trainer" required ng-options="trainer as trainer.user.username for trainer in test.trainersByDateAndLanguage track by trainer.id" ng-change="getTrainerAvailableTimeByDate()" ng-disabled="test.trainerDisabled"></select>
            <div ng-messages="speaking_testForm.trainer.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Trainer is required.</p>
            </div>
          </div>
          
          <div ng-if="authentication.user.roles === 'admin' && test.trainer" class="form-group">
              <div class="show-available-time-ranges">
                <h4><strong>{{test.trainer.user.username}}</strong> is available in following range of times:</h4>
                <ul>
                  <li ng-repeat="time in test.availableTimes" ng-class="time-range">{{time.startsAt | date : 'HH:mm'}} - {{time.endsAt | date : 'HH:mm'}}</li>
                </ul>
              </div>
              
              <h4>Choose one of the following list of available times:</h4>
              <div>
                <div class="radio col-md-2 col-sm-3 col-xs-6" ng-repeat="slot in test.availableSlots" ng-if="trainerNotAvailable.indexOf(slot) === -1 || slot === test.oldTimeRange">
                  <label for="timeRange{{$index}}"  class="form-group btn btn-default radio-btn" ng-class="{'active btn-success': test.timeRange === slot || slot === test.timeRange}" show-errors>
                      <input type="radio" name="timeRange" id="timeRange{{$index}}" value="{{slot}}" ng-model="test.timeRange" ng-required="!test.timeRange" ng-checked="slot === test.timeRange">{{slot}}</label>
                </div>
                
                <div class="clearfix"></div>

                <div ng-if="submitted" ng-messages="speaking_testForm.timeRange.$error" class="has-error" role="alert">
                  <p class="help-block error-text" ng-message="required">Speaking test time is required.</p>
                </div>
              </div>
          </div>
          <div ng-if="authentication.user.roles !== 'admin'" class="form-group">
            <label>Speaking test time</label>
            <p class="input-group" style="max-width: 250px">
              <input class="form-control" type="text" name="showTimeRange" ng-model="test.timeRange" ng-disabled="true">
            </p>
          </div>
          <div class="form-group">
            <label for="notes">Additional notes</label>
            <textarea name="notes" ng-model="test.notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Notes"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-center alert alert-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>