<section ng-init="findOne();">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Update the test status</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="2">Test data</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="authentication.user.roles === 'client'" >
              <th>Booked by</th>
              <td ng-bind="test.client.user.username"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'client'" >
              <th>Trainer</th>
              <td ng-bind="test.trainer.user.username"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'trainer'" >
              <th>Client</th>
              <td ng-bind="test.client.user.username"></td>
            </tr>
            <tr>
              <th>Language</th>
              <td ng-bind="test.language.title"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'admin'">
              <th>Trainer</th>
              <td ng-bind="test.trainer.user.displayName"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'admin'">
              <th>Client</th>
              <td ng-bind="test.client.user.displayName"></td>
            </tr>
            <tr>
              <th>Candidate’s full name</th>
              <td ng-bind="test.candidate.name"></td>
            </tr>
            <tr>
              <th>Candidate’s phone no/Skype ID</th>
              <td ng-bind="test.candidate.phone"></td>
            </tr>
<!--            <tr>
              <th>Candidate’s email</th>
              <td ng-bind="test.candidate.email"></td>
            </tr>-->
            <tr ng-if="authentication.user.roles === 'client'">
              <th>Level</th>
              <td ng-bind="test.level"></td>
            </tr>
            <tr>
              <th>Starts at</th>
              <td ng-bind="test.startsAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Ends at</th>
              <td ng-bind="test.endsAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Date Updated</th>
              <td ng-bind="test.updatedAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Date Created</th>
              <td ng-bind="test.createdAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <td colspan="2" class="form-cell">
                <form name="speaking_testForm" class="form-horizontal" ng-submit="update(speaking_testForm.$valid)" novalidate form-spinner>
                  <fieldset>
                    <div class="form-group" show-errors>
                      <label>Set the level</label>
                      <select id="level" name="level" class="form-control" ng-model="test.level" placeholder="Level" required ng-options="level as level for level in levels track by level"></select>
                      <div ng-messages="speaking_testForm.level.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Test level is required.</p>
                      </div>
                    </div>
                    
                    <div class="form-group" show-errors>
                      <label>Set the test status</label>
                      <select id="status" name="status" class="form-control" ng-model="test.status" placeholder="Status" required not-value="pending" ng-options="status as status for status in statuses track by status"></select>
                      <div ng-messages="speaking_testForm.status.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Test status is required.</p>
                        <p class="help-block error-text" ng-message="notValue">Test status cannot be {{speaking_testForm.status.$viewValue}}.</p>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="notes">Notes</label>
                      <textarea name="notes" ng-model="test.notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Notes"></textarea>
                    </div>
                    
                    <div class="form-group" ng-if="test.speaking_test_result">
                      <h4>Current result file:</h4>
                      <p><i>{{::test.speaking_test_result.result_file}}</i></p>
                    </div>
                    
                    <div class="form-group" show-errors>
                      <label for="notes">Upload result file</label>
                      <div class="fileUpload btn btn-success" title="Upload test result file">
                        <span class="glyphicon glyphicon-plus"></span>
                        <input type="file" class="upload" name="test_result" ng-model="test.speaking_test_result" nv-file-select uploader="createUploader()" />
                      </div>
                      
                      <div ng-repeat="item in uploader.queue" style="margin: 10px auto 30px;">
                        <h4>File to upload:</h4>
                        <p><i>{{item.file.name}}</i></p>
                      </div>
                    </div>
                    
                    
                    <div class="form-group">
                      <input type="submit" value="Update test" class="btn btn-success">
                    </div>
                    <div ng-show="error" class="text-center alert alert-danger">
                      <strong ng-bind="error"></strong>
                    </div>
                  </fieldset>
                </form>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" align="center">
                <a ng-if="test.speaking_test_result" ng-href="/api/speaking_tests/results/test/{{test.id}}" class="btn btn-primary" title="Download test result" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span>Download result
                </a>
                
                <a ng-if="authentication.user.roles === 'admin' || authentication.user.roles === 'client'" class="btn btn-primary" ui-sref="speaking_tests.edit({testId: test.id})" title="Edit test">
                  <i class="glyphicon glyphicon-edit"></i>Edit test
                </a>
                
                <a ng-if="authentication.user.roles === 'admin'" class="btn btn-danger" ng-click="remove(test)" title="Remove test">
                  <i class="glyphicon glyphicon-trash"></i>Remove test
                </a>
              </td>
            </tr>
          </tfoot>
        </table>


      </div>
    </div>
  </div>
</section>
