<section ng-init="findOne();">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>View speaking test</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="2">Viewing test</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Status</th>
              <td ng-bind="test.status"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'client'" >
              <th>Booked by</th>
              <td ng-bind="test.client.user.username"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'client'" >
              <th>Trainer</th>
              <td ng-bind="test.trainer.user.username"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'trainer'" >
              <th>Company</th>
              <td ng-bind="test.client.company.name"></td>
            </tr>
            <tr>
              <th>Language</th>
              <td ng-bind="test.language.title"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'admin'">
              <th>Trainer</th>
              <td ng-bind="test.trainer.user.displayName"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'admin'">
              <th>Company</th>
              <td ng-bind="test.client.company.name"></td>
            </tr>
            <tr>
              <th>Level</th>
              <td ng-bind="test.level"></td>
            </tr>
            <tr>
              <th>Candidate’s full name</th>
              <td ng-bind="test.candidate.name"></td>
            </tr>
            <tr>
              <th>Candidate’s phone no/Skype ID</th>
              <td ng-bind="test.candidate.phone"></td>
            </tr>
<!--            <tr>
              <th>Candidate’s email</th>
              <td ng-bind="test.candidate.email"></td>
            </tr>-->
            <tr ng-if="authentication.user.roles === 'client'">
              <th>Level</th>
              <td ng-bind="test.level"></td>
            </tr>
            <tr>
              <th>Starts at</th>
              <td ng-bind="test.startsAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Ends at</th>
              <td ng-bind="test.endsAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Notes</th>
              <td ng-bind="test.notes"></td>
            </tr>
            <tr>
              <th>Date Updated</th>
              <td ng-bind="test.updatedAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Date Created</th>
              <td ng-bind="test.createdAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" align="center">
                <a ng-if="test.speaking_test_result" ng-href="/api/speaking_tests/results/test/{{test.id}}" class="btn btn-primary" title="Download test result" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span>Download result
                </a>
                
<!--                <a ng-if="test.status === 'pending' && (authentication.user.roles === 'admin' || authentication.user.roles === 'client')" class="btn btn-primary" ui-sref="speaking_tests.edit({testId: test.id})" title="Edit test">
                  <i class="glyphicon glyphicon-edit"></i>Edit test
                </a>-->
                
                <a ng-if="(authentication.user.roles === 'admin' || authentication.user.roles === 'client')" class="btn btn-primary" ui-sref="speaking_tests.edit({testId: test.id})" title="Edit test">
                  <i class="glyphicon glyphicon-edit"></i>Edit test
                </a>
                
                <a ng-if="authentication.user.roles === 'admin'" class="btn btn-danger" ng-click="remove(test)" title="Remove test">
                  <i class="glyphicon glyphicon-trash"></i>Remove test
                </a>
              </td>
            </tr>
          </tfoot>
        </table>


      </div>
    </div>
  </div>
</section>
