<section ng-init="getPermissions();">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Edit users permissions to modules</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        
        <form name="usersPermissionsForm" ng-submit="updatePermissions(usersPermissionsForm.$valid)" novalidate ng-init="setClients();" form-spinner>
        
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Display name</th>
                <th>Username</th>
                <th>Company</th>
                <th>Speaking tests</th>
                <th>Writing tests</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="client in clients">
                <th>{{client.user.displayName}}</th>
                <td>{{client.user.username}}</td>
                <td>{{client.company.name}}</td>
                <td><input type="checkbox" name="{{client.id}}[speaking_tests]" ng-model="permissions[client.id].speaking_tests"></td>
                <td><input type="checkbox" name="{{client.id}}[writing_tests]" ng-model="permissions[client.id].writing_tests"></td>
                <input type="hidden" name="{{client.id}}[clientId]" ng-model="permissions[client.id].clientId">
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <button type="submit" class="btn btn-success">Submit</button>
                </td>
              </tr>
            </tfoot>
          </table>
          
        </form>

      </div>
    </div>
  </div>
</section>
