<section ng-init="prepareFormData()">
  <div class="container-fluid">
    <br />
    <br />
    <div class="row">
      <div class="col-md-12">
        <form name="userForm" ng-submit="create(userForm.$valid)" novalidate form-spinner>

          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Creating new user</th>
              </tr>
            </thead>
            <tbody>
              <tr class="form-group" show-errors>
                <td>
                  <label>Role</label>
                </td>
                <td>
                  <select id="roles" name="roles" class="form-control" ng-model="user.roles" placeholder="Role" required>
                    <option value="client">Client</option>
                    <option value="trainer">Trainer</option>
                    <option value="admin">Admin</option>
                  </select>
                  <div ng-messages="userForm.roles.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Role is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="firstName">First Name</label>
                </td>
                <td>
                  <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
                  <div ng-messages="userForm.firstName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">First name is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="lastName">Last Name</label>
                </td>
                <td>
                  <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" />
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="email">Email</label>
                </td>
                <td>
                  <input type="text" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required />
                  <div ng-messages="userForm.email.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Email is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="username">Username</label>
                </td>
                <td>
                  <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" required />
                  <div ng-messages="userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Username is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors ng-if="user.roles === 'client'">
                <td>
                  <label for="company">Company</label>
                </td>
                <td>
                  <select name="company" id="company" class="form-control" ng-model="user.client.company" placeholder="Company" required ng-options="company as company.name for company in companies track by company.id"></select>
                  <div ng-messages="userForm.company.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Client company is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors ng-if="user.roles === 'trainer'">
                <td>
                  <label>Language</label>
                </td>
                <td>
                  <multiselect ng-model="user.trainer.languages" options="languages" id-prop="id" display-prop="title" name="languages" required></multiselect>
                  <div ng-messages="userForm.languages.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Languages are required.</p>
                  </div>
                </td>
              </tr>      
              <tr class="form-group" show-errors>
                <td>
                  <label for="phone">Phone</label>
                </td>
                <td>
                  <input type="text" id="phone" name="phone" class="form-control" ng-model="user.phone" placeholder="Phone" />
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="city">City</label>
                </td>
                <td>
                  <input type="text" id="city" name="city" class="form-control" ng-model="user.city" placeholder="City" />
                </td>
              </tr>        
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" align="center">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Create" class="btn btn-default">
                  </div>
                  <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>

        </form>
        </div>
      </div>
    </div>
</section>
