<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Users</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a ui-sref="admin.user-create" title="Add user" class="btn btn-success">Add user</a>
        </div>
        <div class="col-md-8">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>
      </div>
    </div>
    
    <table class="table table-hover table-striped responsive-table users-table table-with-thumbnails sorted-table" ts-wrapper>
      <thead>
        <tr>
          <th>#</th>
          <th>Photo</th>
          <th ng-click="sortTable('username')" ng-class="{'sort-active': sortBy === 'username', 'reverse': sortReverse, 'sort-available': true}">Username</th>
          <th ng-click="sortTable('displayName')" ng-class="{'sort-active': sortBy === 'displayName', 'reverse': sortReverse, 'sort-available': true}">Full name</th>
          <th ng-click="sortTable('roles')" ng-class="{'sort-active': sortBy === 'roles', 'reverse': sortReverse, 'sort-available': true}">Role</th>
          <th ng-click="sortTable('email')" ng-class="{'sort-active': sortBy === 'email', 'reverse': sortReverse, 'sort-available': true}">Email</th>
          <th ng-click="sortTable('createdAt')" ng-class="{'sort-active': sortBy === 'createdAt', 'reverse': sortReverse, 'sort-available': true}">Created at</th>
          <th ng-click="sortTable('updatedAt')" ng-class="{'sort-active': sortBy === 'updatedAt', 'reverse': sortReverse, 'sort-available': true}">Updated at</th>
          <th><span class="pull-right">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in pagedItems">
          <td data-label="#">{{$index + 1}}</td>
          <td data-label="Photo">
            <img ng-src="/uploads/users/profile/{{user.profileImageURL}}" class="img-thumbnail" ng-if="user.profileImageURL">
            <img ng-src="/modules/core/client/img/brand/favicon.png" class="img-thumbnail" ng-if="!user.profileImageURL">
          </td>
          <td data-label="Username" ng-bind="user.username"></td>
          <td data-label="Full name" ng-bind="user.displayName"></td>
          <td data-label="Role" ng-bind="user.roles"></td>
          <td data-label="Email" ng-bind="user.email"></td>
          <td data-label="Created at" ng-bind="user.createdAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Updated at" ng-bind="user.updatedAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Actions">
            <div class="pull-right">
              <a class="btn btn-success" ui-sref="admin.user({userId: user.id})">
                <i class="glyphicon glyphicon-eye-open"></i>
              </a>
              <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user.id})">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-danger" ng-click="remove(user)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    
    <div class="alert alert-warning text-center" ng-if="!users.length">
      No users yet, why don't you <a ui-sref="admin.user-create">create one</a>?
    </div>
  </div>
</section>