<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>View user {{user.displayName}}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="2">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>First name</th>
              <td ng-bind="user.firstName"></td>
            </tr>
            <tr>
              <th>Last name</th>
              <td ng-bind="user.lastName"></td>
            </tr>
            <tr>
              <th>Display name</th>
              <td ng-bind="user.displayName"></td>
            </tr>
            <tr>
              <th>Username</th>
              <td ng-bind="user.username"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td ng-bind="user.email"></td>
            </tr>
            <tr>
              <th>Phone</th>
              <td ng-bind="user.phone"></td>
            </tr>
            <tr>
              <th>City</th>
              <td ng-bind="user.city"></td>
            </tr>
            <tr>
            <tr ng-if="user.client">
              <th>Company</th>
              <td ng-bind="user.client.company.name"></td>
            </tr>
            <tr>
              <th>Roles</th>
              <td ng-bind="user.roles"></td>
            </tr>
            <tr ng-if="user.roles === 'trainer'">
              <th>Language</th>
              <td><span ng-repeat="lang in user.trainer.languages">{{lang.title}}<em ng-if="!$last">,</em> </span></td>
            </tr>
            <tr>
              <th>Date Updated</th>
              <td ng-bind="user.updatedAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Date Created</th>
              <td ng-bind="user.createdAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" align="center">
                <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user.id})">Edit <i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-primary" ng-if="user.trainer" ui-sref="admin.user-trainer-availability({userId: user.id})">Availability <i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger" ng-click="remove(user);" ng-if="authentication.user.id !== user.id && (authentication.user.roles.indexOf('admin') !== -1)">Delete <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          </tfoot>
        </table>


      </div>
    </div>
  </div>
</section>
