/* ---------------------- 6. BASICS ---------- */

//all
html {
  font-family: 'OpenSans';
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
  body {
    margin: 0 0 180px;
    .content {
      position: relative;
      z-index: 5;
      width: 100%;
      margin-top: 50px;
    }
    .home-container {
      margin-top: 100px;
    }
    &.logged-in {
      overflow: hidden;
      .content {
        margin-top: 30px;
        padding-left: 70px;
        transition: width 600ms, margin-left 600ms, transform 600ms;
        -webkit-transition: width 600ms, margin-left 600ms, -webkit-transform 600ms;
        -moz-transition: width 600ms, margin-left 600ms, -moz-transform 600ms;
        -ms-transition: width 600ms, margin-left 600ms, -ms-transform 600ms;
        -o-transition: width 600ms, margin-left 600ms, -o-transform 600ms;
        .transform(translateX(230px));
      }
      &.menu-collapsed {
        overflow-y: auto;
        .content {
          .transform(translateX(0));
        }
      }
    }
  }
}

//links
a {
  color: @color-light-blue;
  text-decoration: none;
  .transition(200ms);
  &:hover {
    color: @color-green;
  }
}

//headers
h1, h2, h3, h4 {
	
}

//buttons


//forms
form {
  .form-group {
    .error-text {
      display: none;
    }
    &.has-error {
      .error-text {
        display: block;
      }
    }
  }
  &.form-horizontal {
    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .form-spinner {
    position: absolute;
    top: -10px;
    right: -15px;
    bottom: -10px;
    left: -15px;
    background-color: rgba(255,255,255, .5);
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .cp-spinner {
      background-color: @color-blue;
      &::before, &::after {
        background-color: @color-blue;
      }
    }
  }
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	
}
label input[type="checkbox"],
label input[type="radio"] {
    
}

select {
	
}

.radio-btn {
  padding-left: 25px !important;
}

.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

//responsive tables
@media all and (max-width: 767px) {
  .responsive-table {
    thead {
      display:none;
    }
    tbody {
      tr {
        display: block;
        margin-bottom: 20px;
        td {
          display: block;
          text-align: right;
          font-size: 13px;
          border-bottom: 1px dotted #ccc;
          &::before {
            content: attr(data-label);
            float: left;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }
  }
}

//notifications
.cg-notify-message {
  padding: 15px 30px 15px 15px;
  .cg-notify-close{
    top: 3px;
    right: 6px;
  }
}

.text-logo {
  display: inline-block;
  text-align: right;
  h2 {
    font-family: 'OpenSansLight';
    .font-size(2.4);
    margin: 0;
  }
  h3 {
    font-family: 'OpenSansLight';
    .font-size(1.3);
    margin: 5px 0;
  }
}


/* ---------- HEADER ----------- */
header.main-header {
  height: 70px;
  padding: 10px 0;
  background: @color-blue;
  h1 {
    margin: 0;
    line-height: 1;
    display: block;
  }
  .main-logo {
    display: inline-block;
    height: 60px;
    margin-top: -5px;
    img {
      max-height: 100%;
    }
  }
  ul {
    li {
      a {
        .font-size(1.8);
        color: @color-light-grey;
        .transition(200ms);
        &:hover,
        &:focus,
        &:active {
          background: transparent;
          color: #fff;
        }
      }
      &.dropdown {
        &.dropdown-open {
          a {
            background-color: transparent;
            color: #fff;
            border: none;
          }
          .active-line {
            width: 100%;
          }
        }
      }
      ul.dropdown-menu {
        background-color: @color-light-grey;
        border: none;
        padding: 0;
        min-width: 100%;
        margin: 0;
        .border-radius(0);
        li {
          margin: 0;
          a {
            .font-size(1.6);
            padding: 10px 15px;
            background-color: @color-light-grey;
            &:hover {
              background-color: #fff;
            }
          }
          &.active {
            a {
              background-color: #fff;
              background-image: none;
            }
          }
        }
      }
    }
  }
  .main-nav {
    li {
      position: relative;
      margin-right: 5px;
      .active-line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: @color-green;
        .transition(200ms);
      }
      &:hover {
        .active-line {
          width: 100%;
        }
      }
      &.active {
        a {
          color: #fff;
        }
      }
      &.dropdown {
        &.open {
          a {
            color: @color-blue;
            border: none;
          }
          .active-line {
            width: 100%;
          }
        }
      }
    }
  }
  .user-nav {
    li {
      a.user-header-dropdown-toggle {
        padding: 5px;
        span {
          float: left;
          margin-right: 10px;
          img {
            height: 40px;
          }
        }
      }
      &.dropdown {
        padding: 5px 10px;
        margin: 0;
        list-style: none;
        &.open {
          background: @color-light-grey;
          a {
            color: @color-blue;
            border: none;
          }
          .active-line {
            width: 100%;
          }
        }
      }
    }
    .user-data {
      display: inline-block;
      padding: 10px 0;
    }
  }
}


/* ---------- SIDEBAR MAIN MENU ----------- */
.sidebar-main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 40px 20px 80px;
  padding-top: 70px;
  z-index: 60;
  background-color: @color-blue;
  .transform(translateX(0));
  transition: transform 600ms;
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  -o-transition: -o-transform 600ms;
  ul {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    list-style: none;
    max-height: 100%;
    overflow-y: auto;
    li {
      overflow: hidden;
      margin-bottom: 5px;
      a {
        display: block;
        position: relative;
        .font-size(2);
        color: @color-grey;
        font-family: 'OpenSans';
        text-transform: uppercase;
        padding: 6px 60px 6px 0;
        .transition(200ms);
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          text-decoration: none;
        }
        &.submenu-toggler {
          .caret {
            .transition(400ms);
          }
          &.active {
            .caret {
              .transform(rotateX(180deg));
            }
          }
        }
        .item-icon {
          position: absolute;
          right: 0;
          top: 0;
          .font-size(3);
        }
      }
      ul.submenu {
        margin: 0;
        padding: 0 0 0 20px;
        //.transform(scaleY(0));
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        .transition(400ms, linear);
        li {
          margin-bottom: 0;
          a {
            .font-size(1.6);
            font-family: 'OpenSansLight';
            text-transform: none;
            padding: 6px 0;
          }
        }
        &.opened {
          max-height: 200px;
          opacity: 1;
          //.transform(scaleY(1));
        }
      }
      &.active {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  button {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0;
    .font-size(4);
    color: @color-grey;
    cursor: pointer;
    transition: color 200ms, transform 600ms;
    -webkit-transition: color 200ms, -webkit-transform 600ms;
    -moz-transition: color 200ms, -moz-transform 600ms;
    -ms-transition: color 200ms, -ms-transform 600ms;
    -o-transition: color 200ms, -o-transform 600ms;
    &:hover,
    &:active {
      color: #fff;
    }
    &:focus {
      color: #fff;
      outline: none;
    }
    &.menu-collapsed {
      .transform(rotateY(180deg));
    }
  }
  &.collapsed {
    .transform(translateX(calc(~'-100% + 70px')));
  }
}


/* ---------- CONTENT ----------- */
.content {
  //margin-top: 80px;
}


/* ---------- FOOTER ----------- */
footer.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 180px;
  width: 100%;
  .footer-separator {
    hr {
      border-color: @color-blue;
      margin: 50px auto 30px;
    }
  }
}

@media all and (max-width: 767px) {
  footer.main-footer {
    height: auto;
    margin-top: auto;
    p, ul li {
      text-align: center;
    }
    .text-logo {
      display: block;
      float: none !important;
      text-align: center;
      padding: 20px 0;
    }
  }
}



/* ---------- OVERLAY ----------- */
body {
  .body-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.7);
    z-index: 10;
    width: calc(~"100% - 300px");
    .transform(translateX(300px));
    .transition(600ms);
    .table {
      display: table;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      .cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        color: #fff;
      }
    }
  }
  &.menu-collapsed {
    .body-overlay {
      .opacity(0);
      width: 100%;
      .transform(translateX(-100%));
    }
  }
}


.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


.has-tooltip {
  position: relative;
  .tooltip-menu {
    position: absolute;
    top: -64px;
    height: 54px;
    left: -50%;
    z-index: 1000;
    background: @color-blue;
    display: none;
    .rounded(4px);
    .tooltip-content {
      padding: 10px;
      .fileUpload {
          position: relative;
          overflow: hidden;
      }
      .fileUpload input.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
      }
    }
    &.active {
      display: block;
    }
  }
}


//tablesort
.tablesort-sortable {
  position: relative;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  padding-right: 20px;
  .transition(200ms);
  &.tablesort-asc {
    background-color: @color-light-blue;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      margin-top: 8px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: none;
      border-bottom: 6px solid #fff;
    }
  }
  &.tablesort-desc {
    background-color: @color-light-blue;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      margin-top: 8px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: none;
      border-top: 6px solid #fff;
    }
  }
}

//table styles
.table {
  .img-thumbnail {
    max-width: 50px;
  }
  //tablesort fix
  .showIfLast {
    display: none;
  }
  &.table-with-thumbnails {
    tr {
      td {
        padding-top: 15px;
        img {
          margin-top: -10px;
        }
      }
    }
  }
  td.form-cell {
    padding: 20px;
    background: transparent;
  }
  &.sorted-table {
    th {
      &.sort-available {
        cursor: pointer;
      }
      &.sort-active {
        position: relative;
        background-color: @color-light-blue;
        color: #fff;
        &::before {
          display: inline-block;
          margin-right: 8px;
          content: "";
          width: 0; 
          height: 0; 
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 9px solid #fff;
        }
        &.reverse {
          &::before {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: none;
            border-top: 9px solid #fff;
          }
        }
      }
    }
  }
}


.noselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
