/* ---------------------- 8. EXTRAS ---------- */

//placeholders
.placeholder,
::-webkit-input-placeholder,
:-moz-placeholder {
    color: #ccc;
}

//selections
::selection,
::-moz-selection { 
	background: #ccc;
	color: #fff; 
	text-shadow: none; 
}