@charset "utf-8";
/* ---------------------- 2. FONTS ---------- */

@fontPath: "/modules/core/client/less/fonts";

@font-face {
    font-family: 'OpenSansBold';
    src: url('@{fontPath}/OpenSansBold.eot');
    src: url('@{fontPath}/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansBold.woff') format('woff'),
         url('@{fontPath}/OpenSansBold.ttf') format('truetype'),
         url('@{fontPath}/OpenSansBold.svg#breuer_textbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('@{fontPath}/OpenSansRegular.eot');
    src: url('@{fontPath}/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansRegular.woff') format('woff'),
         url('@{fontPath}/OpenSansRegular.ttf') format('truetype'),
         url('@{fontPath}/OpenSansRegular.svg#breuer_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('@{fontPath}/OpenSansLight.eot');
    src: url('@{fontPath}/OpenSansLight.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/OpenSansLight.woff') format('woff'),
         url('@{fontPath}/OpenSansLight.ttf') format('truetype'),
         url('@{fontPath}/OpenSansLight.svg#breuer_textbold') format('svg');
    font-weight: light;
    font-style: normal;
}

//@import '@{fontPath}/font-awesome.min.css';