/* ---------------------- 5. MIXINS ---------- */

//colors
@color-blue: #204d6a;
@color-light-blue: lighten(@color-blue, 20%);

@color-grey: #d6d6d6;
@color-light-grey: #eee;

@color-yellow: #ffd62f;

@color-orange: #ffd62f;

@color-pink: #d02356;

@color-red: #a94442;

@color-green: #9ac442;
@color-light-green: #afcb08;


//less elements
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}