session-downtime {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  z-index: 20;
  .transform(translateY(300px));
  .transition(.6s);
  .clock {
    background: #fff;
    border: 3px solid @color-blue;
    padding: 5px 15px;
    font-size: 26px;
    color: @color-blue;
    .border-radius(8px, 8px, 8px, 8px);
    .box-shadow(3px 2px 5px 0 rgba(0,0,0,.5));
  }
  &.active {
    opacity: 1;
    .transform(translateY(0));
  }
}