<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Generate report from tests</h1>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <form name="reportForm" class="form-horizontal" ng-submit="generateReport(reportForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label for="start_date">Start date</label>
            <p class="input-group" style="max-width: 250px">
              <input name="start_date" type="text" ng-model="report.start_date" disabled id="start_date" class="form-control" placeholder="Start date" uib-datepicker-popup datepicker-options="datepickerStartDateOptions" is-open="datepickerStartDateOptions.opened" show-button-bar="false" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datepickerStartDateOptions.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <div ng-messages="reportForm.start_date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Report start date is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label for="end_date">End date</label>
            <p class="input-group" style="max-width: 250px">
              <input name="end_date" type="text" ng-model="report.end_date" disabled id="end_date" class="form-control" placeholder="End date" uib-datepicker-popup datepicker-options="datepickerEndDateOptions" is-open="datepickerEndDateOptions.opened" show-button-bar="false" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datepickerEndDateOptions.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <div ng-messages="reportForm.end_date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Report end date is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors >
            <label for="test_type">Choose test type</label>
            <select id="test_type" name="test_type" class="form-control" ng-model="report.test_type" placeholder="Test type" required ng-options="test_type as test_type.name for test_type in test_types track by test_type.val"></select>
            <div ng-messages="reportForm.test_type.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Report test type is required.</p>
            </div>
          </div>



          <!--<div class="form-group">
            <label><input type="checkbox" id="generate_by_trainer" name="generate_by_trainer" value="true" ng-model="report.generate_by_trainer" ng-change="toggleSearchByTrainer()" />
              Generate only for one trainer</label>
          </div>

          <div class="form-group" ng-if="report.generate_by_trainer" show-errors>
            <label for="trainer">Choose trainer</label>
            <select id="trainer" name="trainer" class="form-control" ng-model="report.trainer" placeholder="Trainer" required ng-options="trainer.id as trainer.user.displayName for trainer in trainers track by trainer.id"></select>
            <div ng-messages="reportForm.trainer.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Trainer is required.</p>
            </div>
          </div>-->

          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-center alert alert-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
