<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Create company</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form name="companyForm" ng-submit="create(companyForm.$valid)" novalidate form-spinner>

          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Creating new company</th>
              </tr>
            </thead>
            <tbody>
              <tr class="form-group" show-errors>
                <td>
                  <label for="name">Company name</label>
                </td>
                <td>
                  <input type="text" id="name" name="name" class="form-control" ng-model="company.name" placeholder="Name" required />
                  <div ng-messages="companyForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Company name is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="name">Company email</label>
                </td>
                <td>
                  <input type="email" id="email" name="email" class="form-control" ng-model="company.email" placeholder="Email" />
                  <div ng-messages="companyForm.email.$error" role="alert">
                    <p class="help-block error-text" ng-message="email">Email address not valid.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group">
                <td>
                  <label for="address">Company address</label>
                </td>
                <td>
                  <textarea name="address" ng-model="company.address" id="address" class="form-control" cols="30" rows="10" placeholder="Company address"></textarea>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" align="center">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Create" class="btn btn-default">
                  </div>
                  <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>

        </form>
        </div>
      </div>
    </div>
</section>
