<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Companies</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a ui-sref="admin.company-create" title="Add company" class="btn btn-success">Add company</a>
        </div>
        <div class="col-md-8">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>
      </div>
    </div>
    
    <table class="table table-hover table-striped responsive-table users-table table-with-thumbnails" ts-wrapper>
      <thead>
        <tr>
          <th>#</th>
          <th ts-criteria="name" ts-default>Company name</th>
          <th ts-criteria="email">Company email</th>
          <th ts-criteria="address">Company address</th>
          <th ts-criteria="createdAt">Created at</th>
          <th ts-criteria="updatedAt">Updated at</th>
          <th><span class="pull-right">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="company in pagedItems" ts-repeat>
          <td data-label="#">{{$index + 1}}</td>
          <td data-label="Company name" ng-bind="company.name"></td>
          <td data-label="Company email" ng-bind="company.email"></td>
          <td data-label="Company address" ng-bind="company.address"></td>
          <td data-label="Created at" ng-bind="company.createdAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Updated at" ng-bind="company.updatedAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Actions">
            <div class="pull-right">
              <a class="btn btn-primary" ui-sref="admin.company-edit({companyId: company.id})">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-danger" ng-click="remove(company)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    
    <div class="alert alert-warning text-center" ng-if="!companies.length">
      No companies yet, why don't you <a ui-sref="admin.company-create">create one</a>?
    </div>
  </div>
</section>