<section ng-init="prepareForm()" class="writing-test-pattern">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>New writing test pattern</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form name="writing_testPatternForm" class="form-horizontal" ng-submit="create(writing_testPatternForm.$valid)" novalidate form-spinner>
          <fieldset>
            <div style="margin-bottom: 20px">
              <button type="button" class="btn btn-success" ng-click="addQuestion('radio', {})">Add new radio question</button>
              <button type="button" class="btn btn-success" ng-click="addQuestion('text', {})">Add new text question</button>
            </div>
            
            <div class="form-group" show-errors >
              <div class="row-fluid">
                <div class="col-md-12">
                  <label>Pattern name</label>
                  <input type="text" name="patternName" class="form-control" ng-model="pattern.name" placeholder="Pattern name" required>
                  <div ng-messages="writing_testPatternForm.patternName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Pattern name is required.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" show-errors >
              <div class="row-fluid">
                <div class="col-md-12">
                  <label>Language</label>
                  <select id="language" name="language" class="form-control" ng-model="pattern.language" placeholder="Language" required ng-options="language as language.title for language in languages" ></select>
                  <div ng-messages="writing_testPatternForm.language.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Language is required.</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group" show-errors >
              <div class="row-fluid">
                <div class="col-md-12">
                 <label>Available for companies</label>
                 <multiselect ng-model="pattern.companies" options="companies" id-prop="id" display-prop="name" name="clients"></multiselect>
  <!--                <div ng-messages="userForm.clients.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Clients are required.</p>
                </div>-->
                </div>
              </div>
            </div>

            <div ng-form="{{question.id}}" class="question" ng-repeat="question in pattern.questions">
                <div ng-if="question.type === 'radio'" class="form-group">
                    <div class="row-fluid">
                      <div class="col-md-1 col-lg-1">
                        <span class="no">{{$index + 1}}</span>
                      </div>
                      <div class="col-md-2 col-lg-2">
                        <label>Question type</label><br>
                        <span class="value">{{question.type}}</span>
                      </div>
                      <div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                        <div class="form-group" show-errors ng-class="{'has-error': {{question.id}}.label.$invalid && writing_testPatternForm.$submitted}">
                          <label>Question label</label>
                          <input type="text" name="label" class="form-control" ng-model="question.label" placeholder="Label" required>
                          <div ng-messages="{{question.id}}.label.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Question label is required.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                        <div class="form-group" ng-class="{'has-error': {{question.id}}.answers_length.$invalid && writing_testPatternForm.$submitted}">

                          <label>Question answers <span class="glyphicon glyphicon-plus-sign add-answer" ng-click="question.addAnswer(question.answers.length)"></span></label>
                          <ul ng-if="question.answers.length" class="inputs-list">
                            <li class="answer" ng-repeat="answer in question.answers">
                              <button type="button" class="check" ng-click="question.setActiveAnswer($index);" ng-class="{active: $index === question.correct}">
                                <i class="fa fa-check-square-o"></i>
                              </button>

                              <input type="text" name="answer_{{$index}}" ng-model="answer.val" required>

                              <div ng-messages="{{question.id}}.answer_{{$index}}.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Answer value is required.</p>
                              </div>
                              <span class="glyphicon glyphicon-remove-sign remove-answer" ng-click="question.removeAnswer(answer);"></span>
                            </li>
                          </ul>

                          <input type="number" name="answers_length" ng-model="question.answers.length" class="hidden" required min="1">              
                          <div ng-messages="{{question.id}}.answers_length.$error" role="alert">
                            <p class="help-block error-text" ng-message="min">At least one answer is required.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div ng-if="question.type === 'text'" class="form-group" show-errors>
                  <div class="row-fluid">
                      <div class="col-md-1 col-lg-1">
                        <span class="no">{{$index + 1}}</span>
                      </div>
                      <div class="col-md-2 col-lg-2">
                        <label>Question type</label><br>
                        <span class="value">{{question.type}}</span>
                      </div>
                      <div class="col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                        <div class="form-group" show-errors ng-class="{'has-error': {{question.id}}.label.$invalid && writing_testPatternForm.$submitted}">
                          <label>Question label</label>
                          <input type="text" name="label" class="form-control" ng-model="question.label" placeholder="Label" required>
                          <div ng-messages="{{question.id}}.label.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Question label is required.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                        <div class="form-group" show-errors ng-class="{'has-error': {{question.id}}.placeholder.$invalid && writing_testPatternForm.$submitted}">
                          <label>Question placeholder</label>
                          <input type="text" name="placeholder" class="form-control" ng-model="question.placeholder" placeholder="Placeholder" required>
                          <div ng-messages="{{question.id}}.placeholder.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Question placeholder is required.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <span class="glyphicon glyphicon-remove-circle remove-question" ng-click="question.removeQuestion(question);"></span>
            </div>

            <div class="row-fluid">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" class="btn btn-default">
                </div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-md-12">
                <div ng-show="error" class="text-center alert alert-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>