<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Writing tests patterns</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a ng-if="authentication.user.roles === 'admin'" ui-sref="writing_tests_patterns.create" title="Add test pattern" class="btn btn-success">Add test pattern</a>
        </div>
        <div class="col-md-6">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>
      </div>
    </div>
    
    <div class="items-list">
      <div class="row">
        <div ng-repeat="pattern in patterns">
          <div class="clearfix hidden-md hidden-sm hidden-xs" ng-if="$index % 4 === 0"></div>
          <div class="clearfix hidden-lg hidden-sm hidden-xs" ng-if="$index % 3 === 0"></div>
          <div class="clearfix hidden-lg hidden-md hidden-xs" ng-if="$index % 2 === 0"></div>
          <div class="clearfix hidden-lg hidden-md hidden-sm"></div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="item">
              <i class="glyphicon glyphicon-file"></i>
              <h3>{{pattern.name}}</h3>
              <div class="options">
                <a ui-sref="writing_tests_patterns.edit({patternId: pattern.id})" class="edit">
                  <i class="glyphicon glyphicon-edit"></i>
                  <span>Edit</span>
                </a>
                <button ng-click="delete(pattern);" class="delete">
                  <i class="glyphicon glyphicon-remove-circle"></i>
                  <span>Remove</span>
                </button>
              </div>
              <table>
                <tbody>
                  <tr>
                    <tr>
                      <td>Language:</td>
                      <td>{{pattern.language.title}}</td>
                    </tr>
                    <tr>
                      <td>Choice questions:</td>
                      <td>{{pattern.countRadio}}</td>
                    </tr>
                    <tr>
                      <td>Text questions:</td>
                      <td>{{pattern.countText}}</td>
                    </tr>
                    {{pattern.companies}}
                    <td>Created at:</td>
                    <td ng-bind="pattern.createdAt | date:'yyyy-MM-dd HH:mm'"></td>
                  </tr>
                  <tr>
                    <td>Updated at:</td>
                    <td ng-bind="pattern.updatedAt | date:'yyyy-MM-dd HH:mm'"></td>
                  </tr>
                </tbody>
              </table>
              <span class="label">Created at: </span><span class="val"></span>
               <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>

    <div ng-if="authentication.user.roles === 'admin' && !patterns.length" class="alert alert-warning text-center">
      No test patterns yet, why don't you <a ui-sref="writing_tests_patterns.create">create one</a>?
    </div
  </div
</section>