<section class="noselectable">
  <div class="container-fluid" ng-if="!errors">
    <div class="page-header">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1>Please fill the language test below</h1>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <form name="writing_testCandidateForm" class="form-horizontal writing-test-candidate-form" ng-submit="sendFormResult(writing_testCandidateForm.$valid, 'filled')" novalidate form-spinner>
          <fieldset>
            <div class="question" ng-repeat="question in test.questions">

              <div class="radio-question" ng-if="question.type === 'radio'">
                <div class="row-fluid">
                  <div class="col-md-1 col-sm-1 col-xs-1 no">
                    {{$index+1}}
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11">
                    <div class="form-group" ng-class="{'has-error': writing_testCandidateForm.$submitted && writing_testCandidateForm.$invalid}">
                      <label>{{question.label}}</label>
                      <ul class="radio-list">
                        <li ng-repeat="answer in question.answers">
                          <label>
                            <input type="radio" name="{{question.id}}" class="radio-btn" ng-value="{{answer}}" ng-model="result.answers[question.id]" ng-required="!result.answers[question.id]">{{answer.val}}
                          </label>
                        </li>
                      </ul>
                      <div ng-if="!result.answers[question.id]" ng-messages="writing_testCandidateForm.{{question.id}}.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">You should choose an answer.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="radio-question" ng-if="question.type === 'text'">
                <div class="row-fluid">
                  <div class="col-md-1 col-sm-1 col-xs-1 no">
                    {{$index+1}}
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11">
                    <div class="form-group" show-errors>
                      <label for="{{question.id}}">{{question.label}}</label>
                      <textarea name="{{question.id}}" id="{{question.id}}" ng-model="result.answers[question.id]"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Send test" class="btn btn-success">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid" ng-if="errors">
    <div class="page-header">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1>An error have occured</h1>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="alert alert-danger" ng-repeat="err in errors">
          <p>{{err.message}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<test-downtime></test-downtime>
