<section>  
  <div class="container-fluid">
    <div class="page-header">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1>Thank You</h1>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <p>Thank you for filling in the test.</p>
      </div>
    </div>
  </div>
</section>