<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
<p>Dear {{candidateFullName}}, <br /><br />
The Language Test Link  has been created for you. Before you attempt to fill in the test, please remember the following:<br />
-you can only open it on laptop/PC as not all portable devices are compatible with the test<br />
-your computer has to have the updated Java plug-in<br />
-this is a one-off link and it cannot be reopened again<br />
-if you have any technical problems with filling in the test, please contact your recruiter as this is a no-reply mail box<br />
</p>
<br />
<p>
Here's your test link: <br />
<a href="{{url + '/writing_tests/fill/' + token}}" title="{{url + '/writing_tests/fill/' + token}}">{{url + '/writing_tests/fill/' + token}}</a>
</p>

<p>Good luck!</p>

<p>Accent Language Assessments Team</p>
</body>

</html>
