<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{client}}, <br />
    The writing test has been completed by the candidate {{candidateFullName}}.</p>
  <p>To check the result or to send it to the trainer please go to: <a href="{{testUrl}}" target="_blank">{{testUrl}}</a>.</p>
  <p>Thank you,<br>
      Accent Language Assessments Team</p>
</body>

</html>