<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{trainer}}, <br />
    You got new writing test to assess: <a href="{{testUrl}}" target="_blank">{{testUrl}}</a>.
  </p>
  
  <p>Please remember that you have 24h hours to check it and update the result.</p>
  
  <p>Thank you for your work!</p>
</body>

</html>