<section ng-controller="ChangeProfilePictureController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="signin form-horizontal">
          <fieldset>
            <div class="form-group text-center">
              <span ng-if="imageURL">
                <img ng-src="./uploads/users/profile/{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
              </span>
              <span ng-if="!imageURL">
                <img ng-src="./modules/core/client/img/brand/favicon.png" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture" />
              </span>
            </div>
            <div class="text-center form-group" ng-hide="uploader.queue.length">
              <span class="btn btn-default btn-file">
                Select Image
                <input type="file" nv-file-select uploader="uploader">
              </span>
            </div>
            <div class="text-center form-group" ng-show="uploader.queue.length">
              <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
              <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
            </div>
            <div ng-show="error" class="text-center alert alert-success">
              <strong>Profile Picture Changed Successfully</strong>
            </div>
            <div ng-show="error" class="text-center alert alert-danger">
              <strong ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
