<section ng-controller="EditProfileController" ng-init="getProfile()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">

          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Edit My Profile</th>
              </tr>
            </thead>
            <tbody>
              <tr class="form-group" show-errors>
                <td>
                  <label for="firstName">First Name</label>
                </td>
                <td>
                  <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required ng-disabled="user.roles !== 'admin'" />
                  <div ng-messages="userForm.firstName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">First name is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="lastName">Last Name</label>
                </td>
                <td>
                  <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required ng-disabled="user.roles !== 'admin'" />
                  <div ng-messages="userForm.lastName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Last name is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="username">Username</label>
                </td>
                <td>
                  <input type="text" id="email" name="username" class="form-control" ng-model="user.username" placeholder="Username" required ng-disabled="user.roles !== 'admin'" />
                  <div ng-messages="userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Username is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="email">Email</label>
                </td>
                <td>
                  <input type="text" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required ng-disabled="user.roles !== 'admin'" />
                  <div ng-messages="userForm.email.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Email is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" show-errors ng-if="user.roles === 'client'">
                <td>
                  <label for="company">Company</label>
                </td>
                <td>
                  <input type="text" id="company" name="company" class="form-control" ng-model="user.client.company" placeholder="Company" required ng-disabled="user.roles !== 'admin'" />
                  <div ng-messages="userForm.company.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Company is required.</p>
                  </div>
                </td>
              </tr>
              <tr class="form-group" ng-if="user.roles === 'trainer'">
                <td>
                  <label>Language</label>
                </td>
                <td>
                  <span ng-repeat="language in user.trainer.languages">{{language.title}}, </span>
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="phone">Phone</label>
                </td>
                <td>
                  <input type="text" id="phone" name="phone" class="form-control" ng-model="user.phone" placeholder="Phone" />
                </td>
              </tr>
              <tr class="form-group" show-errors>
                <td>
                  <label for="phone">City</label>
                </td>
                <td>
                  <input type="text" id="city" name="city" class="form-control" ng-model="user.city" placeholder="City" />
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" align="center">
                  <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                  </div>
                  <div ng-show="success" class="text-center alert alert-success">
                    <strong>Profile Saved Successfully</strong>
                  </div>
                  <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>

        </form>

      </div>
    </div>
  </div>
</section>
