<section ng-controller="SettingsController">
  <div class="container-fluid">
    <div class="row">
      <div class="page-header">
        <h1>Settings</h1>
      </div>
    </div>
    <div class="row">
      <nav class="col-sm-3 col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
        </ul>
      </nav>
      <div class="col-md-9 settings-view">
        <div ui-view></div>
      </div>
    </div>
  </div>
</section>