<section ng-init="prepareForm()">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>New writing test</h1>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <form name="writing_testForm" class="form-horizontal" ng-submit="create(writing_testForm.$valid)" novalidate form-spinner>
        <fieldset>
          <div class="form-group" show-errors >
            <label>Candidate’s full name</label>
            <input type="text" name="candidatefullName" class="form-control" ng-model="test.candidateFullName" placeholder="Candidate full name" required>
            <div ng-messages="writing_testForm.candidatefullName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Candidate name and surname are required.</p>
            </div>
          </div>
          
          <div class="form-group" show-errors >
            <label>Candidate’s email</label>
            <input type="email" name="candidateEmail" class="form-control" ng-model="test.candidateEmail" placeholder="Candidate email" required>
            <div ng-messages="writing_testForm.candidateEmail.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Candidate email is required.</p>
              <p class="help-block error-text" ng-message="email">Not valid email address.</p>
            </div>
          </div>
          
          <div ng-if="authentication.user.roles === 'admin'" class="form-group" show-errors>
            <label>Client</label>
            <select id="client" name="client" class="form-control" ng-model="test.client" placeholder="Client" required ng-options="client as client.nameWithCompany for client in clients"></select>
            <div ng-messages="writing_testForm.client.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Client is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors ng-if="authentication.user.roles.indexOf('client') == -1 || authentication.user.client.company.id != 5">
            <label><input type="checkbox" id="send_to_company" name="send_to_company" value="true" ng-model="test.send_to_company"
            ng-checked="authentication.user.roles.indexOf('client') != -1 && authentication.user.client.company.id == '5'">
            Send email notifications on company email address</label>
            <div ng-messages="writing_testForm.client.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Client is required.</p>
            </div>
          </div>
          
          <div class="form-group" show-errors >
            <label>Language</label>
            <select id="language" name="language" class="form-control" ng-model="test.language" placeholder="Language" required ng-options="language as language.title for language in languages" ng-change="languageChange()"></select>
            <div ng-messages="writing_testForm.language.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Language is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors >
            <label>Pattern</label>
            <select id="pattern" name="pattern" class="form-control" ng-model="test.pattern" placeholder="Pattern" required ng-options="pattern as pattern.name for pattern in test.patterns" ng-disabled="test.patternDisabled"></select>
            <div ng-messages="writing_testForm.pattern.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Test pattern is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors >
            <label>How long active</label>
            <select id="ttl" name="ttl" class="form-control" ng-model="test.ttl" placeholder="How long active" required ng-options="option as option.key for option in test.ttlOptions"></select>
            <div ng-messages="writing_testForm.ttl.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Test expiration is required.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="notes">Additional notes</label>
            <textarea name="notes" ng-model="test.notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Notes"></textarea>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>

          <div ng-show="error" class="text-center alert alert-danger">
            <strong ng-bind="error"></strong>
          </div>

          <input type="hidden" ng-model="test.send_to_company" value="true" ng-if="authentication.user.roles.indexOf('client') == -1 || authentication.user.client.company.id != 5">

        </fieldset>
      </form>
    </div>
  </div>
</section>