<section>
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Writing tests</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a ng-if="authentication.user.roles === 'admin' || authentication.user.roles === 'client'" ui-sref="writing_tests.create" title="Add test" class="btn btn-success">Add test</a>
<!--          <span ng-if="all && authentication.user.roles === 'admin'" title="Show future tests" class="btn btn-primary" ng-click="getFutureTests()">Show future tests</span>-->
          <span ng-if="!all && authentication.user.roles === 'admin'" title="Show all tests" class="btn btn-primary" ng-click="getAllTests()">Show all tests</span>
        </div>
        <div class="col-md-6">
          <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>
      </div>
    </div>

    <table class="table table-hover table-striped responsive-table sorted-table">
      <thead>
        <tr>
          <th>#</th>
          <th ng-click="sortTable('status')" ng-class="{'sort-active': sortBy === 'status', 'reverse': sortReverse, 'sort-available': true}">Status</th>
          <th ng-if="authentication.user.roles === 'client'" ng-click="sortTable('client.user.username')" ng-class="{'sort-active': sortBy === 'client.user.username', 'reverse': sortReverse, 'sort-available': true}">Created by</th>
          <th ng-if="authentication.user.roles === 'client'" ng-click="sortTable('trainer.user.username')" ng-class="{'sort-active': sortBy === 'trainer.user.username', 'reverse': sortReverse, 'sort-available': true}">Trainer</th>
          <th ng-if="authentication.user.roles === 'trainer'" ng-click="sortTable('client.company.name')" ng-class="{'sort-active': sortBy === 'client.company.name', 'reverse': sortReverse, 'sort-available': true}">Company</th>
          <th ng-click="sortTable('language.title')" ng-class="{'sort-active': sortBy === 'language.title', 'reverse': sortReverse, 'sort-available': true}">Language</th>
          <th ng-if="authentication.user.roles === 'admin'" ng-click="sortTable('trainer.user.displayName')" ng-class="{'sort-active': sortBy === 'trainer.user.displayName', 'reverse': sortReverse, 'sort-available': true}">Trainer</th>
          <th ng-if="authentication.user.roles === 'admin'" ng-click="sortTable('client.company.name')" ng-class="{'sort-active': sortBy === 'client.company.name', 'reverse': sortReverse, 'sort-available': true}">Company</th>
          <th ng-click="sortTable('candidate.name')" ng-class="{'sort-active': sortBy === 'candidate.name', 'reverse': sortReverse, 'sort-available': true}">Candidate’s name</th>
          <th ng-click="sortTable('level')" ng-class="{'sort-active': sortBy === 'level', 'reverse': sortReverse, 'sort-available': true}">Level</th>
          <th ng-click="sortTable('writing_test_pattern.name')" ng-class="{'sort-active': sortBy === 'writing_test_pattern.name', 'reverse': sortReverse}">Test pattern</th>
          <th ng-click="sortTable('writing_test_result.countCorrectRadio')" ng-class="{'sort-active': sortBy === 'writing_test_result.countCorrectRadio', 'reverse': sortReverse}">Radio answers</th>
          <th ng-click="sortTable('expiresAt')" ng-class="{'sort-active': sortBy === 'expiresAt', 'reverse': sortReverse, 'sort-available': true}">Expires at</th>
          <th ng-click="sortTable('createdAt')" ng-class="{'sort-active': sortBy === 'createdAt', 'reverse': sortReverse, 'sort-available': true}">Created at</th>
          <th ng-click="sortTable('updatedAt')" ng-class="{'sort-active': sortBy === 'updatedAt', 'reverse': sortReverse, 'sort-available': true}">Updated at</th>
          <th><span class="pull-right">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="test in pagedItems" ng-class="{success: test.status === 'done', danger: test.status === 'canceled', info: test.status === 'filled'}">
          <td data-label="#">{{$index + 1}}</td>
          <td data-label="Status" ng-bind="test.status == 'waiting for trainer' ? 'waiting for the assessment' : test.status"></td>
          <td ng-if="authentication.user.roles === 'client'" data-label="Booked by" ng-bind="test.client.user.username"></td>
          <td ng-if="authentication.user.roles === 'client'" data-label="Trainer" ng-bind="test.trainer.user.username"></td>
          <td ng-if="authentication.user.roles === 'trainer'" data-label="Company" ng-bind="test.client.company.name"></td>
          <td data-label="Language" ng-bind="test.language.title"></td>
          <td ng-if="authentication.user.roles === 'admin'" data-label="Trainer">{{test.trainer.user.displayName || 'not assigned'}}</td>
          <td ng-if="authentication.user.roles === 'admin'" data-label="Company" ng-bind="test.client.company.name"></td>
          <td data-label="Candidate's name" ng-bind="test.candidate.name"></td>
          <td data-label="Level" ng-bind="test.level"></td>
          <td data-label="Test pattern" ng-bind="test.writing_test_pattern.name"></td>
          <td data-label="Radio answers">
            <div ng-if="test.writing_test_result">
              <span class="success">{{test.writing_test_result.countCorrectRadio}} correct </span> / {{test.writing_test_result.countAllRadio}} all
            </div>
            <div ng-if="!test.writing_test_result">
              not filled yet
            </div>
          </td>
          <td data-label="Expires at" ng-bind="test.expiresAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Created at" ng-bind="test.createdAt | date:'yyyy-MM-dd HH:mm'"></td>
          <td data-label="Updated at" ng-bind="test.updatedAt | date:'yyyy-MM-dd HH:mm'"></td>


          <td data-label="Actions">
            <div class="pull-right">
              <a class="btn btn-success" ui-sref="writing_tests.view({testId: test.id})" title="View test">
                <i class="glyphicon glyphicon-eye-open"></i>
              </a>

<!--              <a ng-if="(authentication.user.roles === 'admin' || authentication.user.roles === 'client') && writing_tests.status === 'pending'" class="btn btn-primary" ui-sref="writing_tests.edit({testId: test.id})" title="Edit request">
                <i class="glyphicon glyphicon-edit"></i>
              </a>-->

              <a ng-if="authentication.user.roles === 'admin' || authentication.user.roles === 'client'" class="btn btn-primary" ui-sref="writing_tests.edit({testId: test.id})" title="Edit request">
                <i class="glyphicon glyphicon-edit"></i>
              </a>

              <a ng-if="authentication.user.roles === 'admin'" class="btn btn-danger" ng-click="remove(test)" title="Remove test">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>

    <div ng-if="(authentication.user.roles === 'admin' || authentication.user.roles === 'client') && !tests.length" class="alert alert-warning text-center">
      No tests yet, why don't you <a ui-sref="writing_tests.create">create one</a>?
    </div
  </div
</section>
