<section ng-init="findOne();">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Order summary</h1>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="2">Viewing test</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Status</th>
              <td ng-bind="test.status"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'client'" >
              <th>Booked by</th>
              <td ng-bind="test.client.user.username"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'client'" >
              <th>Trainer</th>
              <td>{{test.trainer.user.username || 'not assigned'}}</td>
            </tr>
            <tr ng-if="authentication.user.roles === 'trainer'" >
              <th>Company</th>
              <td ng-bind="test.client.company.name"></td>
            </tr>
            <tr>
              <th>Send result to company</th>
              <td ng-bind="test.send_to_company"></td>
            </tr>
            <tr>
              <th>Language</th>
              <td ng-bind="test.language.title"></td>
            </tr>
            <tr>
              <th>Level</th>
              <td ng-bind="test.level"></td>
            </tr>
            <tr ng-if="authentication.user.roles === 'admin'">
              <th>Trainer</th>
              <td>{{test.trainer.user.username || 'not assigned'}}</td>
            </tr>
            <tr ng-if="authentication.user.roles === 'admin'">
              <th>Company</th>
              <td ng-bind="test.client.company.name"></td>
            </tr>
            <tr>
              <th>Candidate’s full name</th>
              <td ng-bind="test.candidate.name"></td>
            </tr>
            <tr>
              <th>Candidate’s email</th>
              <td ng-bind="test.candidate.email"></td>
            </tr>
            <tr>
              <th>Expires at</th>
              <td ng-bind="test.expiresAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Notes</th>
              <td ng-bind="test.notes"></td>
            </tr>
            <tr>
              <th>Date Updated</th>
              <td ng-bind="test.updatedAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
            <tr>
              <th>Date Created</th>
              <td ng-bind="test.createdAt | date: 'yyyy-MM-dd HH:mm'"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row-fluid">
      <div class="col-md-12">
        <h2 ng-if="test.writing_test_result">Results:</h2>
        <form name="writing_testUpdateForm" class="form-horizontal" ng-submit="writing_testUpdateStatus(writing_testUpdateForm.$valid)" novalidate form-spinner>
          <fieldset>
            <div class="form-group" show-errors>
              <label>Set the level</label>
              <select id="level" name="level" class="form-control" ng-model="test.level" placeholder="Level" required ng-options="level as level for level in levels track by level"></select>
              <div ng-messages="writing_testUpdateForm.level.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Test level is required.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label>Status</label>
              <select id="status" name="status" class="form-control" ng-model="test.status" placeholder="Status" required not-value="filled" ng-options="status as status for status in statusses track by status"></select>
              <div ng-messages="writing_testUpdateForm.status.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Status is required.</p>
                <p class="help-block error-text" ng-message="notValue">Status cannot be  {{writing_testUpdateForm.tempStatus.$viewValue}}.</p>
              </div>
            </div>
            <div class="form-group" show-errors ng-if="test.status === 'waiting for trainer'">
              <label>Trainer</label>
              <select id="trainer" name="trainer" class="form-control" ng-model="test.trainer" placeholder="Trainer" ng-options="trainer as trainer.user.username for trainer in trainers track by trainer.id" required>
                <option value=""></option>
              </select>
              <div ng-messages="writing_testUpdateForm.trainer.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Trainer is required when status is "waiting for trainer".</p>
              </div>
            </div>

            <div class="form-group" ng-if="(authentication.user.roles === 'admin' || authentication.user.roles === 'trainer')">
              <label for="notes">Additional notes</label>
              <textarea name="notes" ng-model="test.notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Notes"></textarea>
            </div>


            <div class="form-group">
              <input type="submit" value="Update the test status" class="btn btn-success">
              <button type="button" class="btn btn-default" ng-if="!showResults" ng-click="toggleResults(true)">Show answers</button>
              <button type="button" class="btn btn-default" ng-if="showResults" ng-click="toggleResults(false)">Hide answers</button>
            </div>
          </fieldset>
        </form>

        <div class="test-info-container" ng-if="test.status !== 'pending' && test.status !== 'canceled'">
          <div class="test-info">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>All answers:</th>
                  <td>{{test.writing_test_result.countAllAnswers}}</td>
                </tr>
                <tr>
                  <th>Radio answers:</th>
                  <td><span class="success">{{test.writing_test_result.countCorrectRadio}} correct </span> / {{test.writing_test_result.countAllRadio}} all</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row-fluid" ng-if="test.writing_test_result && showResults">
      <div class="col-md-12">
        <h3>All answers:</h3>
        <table class="test-results table table-striped">
          <tbody>
            <tr ng-repeat="question in test.writing_test_pattern.questions" ng-class="{success: test.writing_test_result.answers['q_' + $index].isCorrect, danger: (!test.writing_test_result.answers['q_' + $index].isCorrect && test.writing_test_result.answers['q_' + $index].isCorrect !== undefined)}">
              <td class="row-number">
                {{$index+1}}
              </td>
              <td>
                <span class="question-label">{{question.label}}</span>
                <span class="question-answer" ng-if="question.type === 'radio'">{{test.writing_test_result.answers['q_' + $index].val}}</span>
                <span class="question-answer" ng-if="question.type === 'text'">{{(test.writing_test_result.answers['q_' + $index] !== '' ? test.writing_test_result.answers['q_' + $index].val : '- no answer -')}}</span>
                <span class="question-correct-answer" ng-if="question.type === 'radio' && !test.writing_test_result.answers['q_' + $index].isCorrect">Correct answer: <br> {{question.answers[question.correct].val}}</span>
              </td>
              <td>
                <span class="buttons" ng-if="question.type === 'text' && test.writing_test_result.answers['q_' + $index].isCorrect === undefined && (authentication.user.roles === 'admin' || authentication.user.roles === 'trainer')">

                  <button class="correct" type="button" ng-click="test.writing_test_result.answers['q_' + $index].isCorrect = true; showUpdateButton();">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </button>
                  <button class="incorrect" type="button" ng-click="test.writing_test_result.answers['q_' + $index].isCorrect = false; showUpdateButton();">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-success" ng-if="showUpdateButtonValue" ng-click="writing_testUpdateStatusByTrainer();">Update test result</button>
      </div>

      <div class="row-fluid">
        <div class="col-md-12">
          <a ng-if="(authentication.user.roles === 'admin' || authentication.user.roles === 'client') && writing_tests.status === 'pending'" class="btn btn-primary" ui-sref="writing_tests.edit({testId: test.id})" title="Edit test">
            <i class="glyphicon glyphicon-edit"></i>Edit test
          </a>

          <a ng-if="authentication.user.roles === 'admin'" class="btn btn-danger" ng-click="remove(test)" title="Remove test">
            <i class="glyphicon glyphicon-trash"></i>Remove test
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
