@charset "utf-8";
/*******************
 *
 * project: Accent 4professionals
 * author: Dawid Wojtyca
 *
********************/
/*------------------

  TABLE OF CONTENTS
  1. RESET
  2. FONTS
  3. LESS ELEMENTS
  4. MIXINS
  5. BASICS
  6. EXTRAS
  7. WYSIWYG

-------------------*/
/* ---------------------- 2. FONTS ---------- */
@font-face {
  font-family: 'OpenSansBold';
  src: url('/modules/core/client/less/fonts/OpenSansBold.eot');
  src: url('/modules/core/client/less/fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/less/fonts/OpenSansBold.woff') format('woff'), url('/modules/core/client/less/fonts/OpenSansBold.ttf') format('truetype'), url('/modules/core/client/less/fonts/OpenSansBold.svg#breuer_textbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/modules/core/client/less/fonts/OpenSansRegular.eot');
  src: url('/modules/core/client/less/fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/less/fonts/OpenSansRegular.woff') format('woff'), url('/modules/core/client/less/fonts/OpenSansRegular.ttf') format('truetype'), url('/modules/core/client/less/fonts/OpenSansRegular.svg#breuer_textbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('/modules/core/client/less/fonts/OpenSansLight.eot');
  src: url('/modules/core/client/less/fonts/OpenSansLight.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/less/fonts/OpenSansLight.woff') format('woff'), url('/modules/core/client/less/fonts/OpenSansLight.ttf') format('truetype'), url('/modules/core/client/less/fonts/OpenSansLight.svg#breuer_textbold') format('svg');
  font-weight: light;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* ---------------------- 5. MIXINS ---------- */
/* ---------------------- 6. BASICS ---------- */
html {
  font-family: 'OpenSans';
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}
html body {
  margin: 0 0 180px;
}
html body .content {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-top: 50px;
}
html body .home-container {
  margin-top: 100px;
}
html body.logged-in {
  overflow: hidden;
}
html body.logged-in .content {
  margin-top: 30px;
  padding-left: 70px;
  transition: width 600ms, margin-left 600ms, transform 600ms;
  -webkit-transition: width 600ms, margin-left 600ms, -webkit-transform 600ms;
  -moz-transition: width 600ms, margin-left 600ms, -moz-transform 600ms;
  -ms-transition: width 600ms, margin-left 600ms, -ms-transform 600ms;
  -o-transition: width 600ms, margin-left 600ms, -o-transform 600ms;
  -webkit-transform: translateX(230px);
  -moz-transform: translateX(230px);
  -ms-transform: translateX(230px);
  -o-transform: translateX(230px);
  transform: translateX(230px);
}
html body.logged-in.menu-collapsed {
  overflow-y: auto;
}
html body.logged-in.menu-collapsed .content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
a {
  color: #3886b8;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
a:hover {
  color: #9ac442;
}
form .form-group .error-text {
  display: none;
}
form .form-group.has-error .error-text {
  display: block;
}
form.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
form .form-spinner {
  position: absolute;
  top: -10px;
  right: -15px;
  bottom: -10px;
  left: -15px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .form-spinner .cp-spinner {
  background-color: #204d6a;
}
form .form-spinner .cp-spinner::before,
form .form-spinner .cp-spinner::after {
  background-color: #204d6a;
}
.radio-btn {
  padding-left: 25px !important;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
@media all and (max-width: 767px) {
  .responsive-table thead {
    display: none;
  }
  .responsive-table tbody tr {
    display: block;
    margin-bottom: 20px;
  }
  .responsive-table tbody tr td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }
  .responsive-table tbody tr td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.cg-notify-message {
  padding: 15px 30px 15px 15px;
}
.cg-notify-message .cg-notify-close {
  top: 3px;
  right: 6px;
}
.text-logo {
  display: inline-block;
  text-align: right;
}
.text-logo h2 {
  font-family: 'OpenSansLight';
  font-size: 24px;
  font-size: 2.4rem;
  margin: 0;
}
.text-logo h3 {
  font-family: 'OpenSansLight';
  font-size: 13px;
  font-size: 1.3rem;
  margin: 5px 0;
}
/* ---------- HEADER ----------- */
header.main-header {
  height: 70px;
  padding: 10px 0;
  background: #204d6a;
}
header.main-header h1 {
  margin: 0;
  line-height: 1;
  display: block;
}
header.main-header .main-logo {
  display: inline-block;
  height: 60px;
  margin-top: -5px;
}
header.main-header .main-logo img {
  max-height: 100%;
}
header.main-header ul li a {
  font-size: 18px;
  font-size: 1.8rem;
  color: #eee;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
header.main-header ul li a:hover,
header.main-header ul li a:focus,
header.main-header ul li a:active {
  background: transparent;
  color: #fff;
}
header.main-header ul li.dropdown.dropdown-open a {
  background-color: transparent;
  color: #fff;
  border: none;
}
header.main-header ul li.dropdown.dropdown-open .active-line {
  width: 100%;
}
header.main-header ul li ul.dropdown-menu {
  background-color: #eee;
  border: none;
  padding: 0;
  min-width: 100%;
  margin: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header.main-header ul li ul.dropdown-menu li {
  margin: 0;
}
header.main-header ul li ul.dropdown-menu li a {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 10px 15px;
  background-color: #eee;
}
header.main-header ul li ul.dropdown-menu li a:hover {
  background-color: #fff;
}
header.main-header ul li ul.dropdown-menu li.active a {
  background-color: #fff;
  background-image: none;
}
header.main-header .main-nav li {
  position: relative;
  margin-right: 5px;
}
header.main-header .main-nav li .active-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #9ac442;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
header.main-header .main-nav li:hover .active-line {
  width: 100%;
}
header.main-header .main-nav li.active a {
  color: #fff;
}
header.main-header .main-nav li.dropdown.open a {
  color: #204d6a;
  border: none;
}
header.main-header .main-nav li.dropdown.open .active-line {
  width: 100%;
}
header.main-header .user-nav li a.user-header-dropdown-toggle {
  padding: 5px;
}
header.main-header .user-nav li a.user-header-dropdown-toggle span {
  float: left;
  margin-right: 10px;
}
header.main-header .user-nav li a.user-header-dropdown-toggle span img {
  height: 40px;
}
header.main-header .user-nav li.dropdown {
  padding: 5px 10px;
  margin: 0;
  list-style: none;
}
header.main-header .user-nav li.dropdown.open {
  background: #eee;
}
header.main-header .user-nav li.dropdown.open a {
  color: #204d6a;
  border: none;
}
header.main-header .user-nav li.dropdown.open .active-line {
  width: 100%;
}
header.main-header .user-nav .user-data {
  display: inline-block;
  padding: 10px 0;
}
/* ---------- SIDEBAR MAIN MENU ----------- */
.sidebar-main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 40px 20px 80px;
  padding-top: 70px;
  z-index: 60;
  background-color: #204d6a;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  transition: transform 600ms;
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  -o-transition: -o-transform 600ms;
}
.sidebar-main-menu ul {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style: none;
  max-height: 100%;
  overflow-y: auto;
}
.sidebar-main-menu ul li {
  overflow: hidden;
  margin-bottom: 5px;
}
.sidebar-main-menu ul li a {
  display: block;
  position: relative;
  font-size: 20px;
  font-size: 2rem;
  color: #d6d6d6;
  font-family: 'OpenSans';
  text-transform: uppercase;
  padding: 6px 60px 6px 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.sidebar-main-menu ul li a:hover,
.sidebar-main-menu ul li a:active,
.sidebar-main-menu ul li a:focus {
  color: #fff;
  text-decoration: none;
}
.sidebar-main-menu ul li a.submenu-toggler .caret {
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.sidebar-main-menu ul li a.submenu-toggler.active .caret {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.sidebar-main-menu ul li a .item-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  font-size: 3rem;
}
.sidebar-main-menu ul li ul.submenu {
  margin: 0;
  padding: 0 0 0 20px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}
.sidebar-main-menu ul li ul.submenu li {
  margin-bottom: 0;
}
.sidebar-main-menu ul li ul.submenu li a {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'OpenSansLight';
  text-transform: none;
  padding: 6px 0;
}
.sidebar-main-menu ul li ul.submenu.opened {
  max-height: 200px;
  opacity: 1;
}
.sidebar-main-menu ul li.active a {
  color: #fff;
  text-decoration: none;
}
.sidebar-main-menu button {
  border: none;
  background: transparent;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0;
  font-size: 40px;
  font-size: 4rem;
  color: #d6d6d6;
  cursor: pointer;
  transition: color 200ms, transform 600ms;
  -webkit-transition: color 200ms, -webkit-transform 600ms;
  -moz-transition: color 200ms, -moz-transform 600ms;
  -ms-transition: color 200ms, -ms-transform 600ms;
  -o-transition: color 200ms, -o-transform 600ms;
}
.sidebar-main-menu button:hover,
.sidebar-main-menu button:active {
  color: #fff;
}
.sidebar-main-menu button:focus {
  color: #fff;
  outline: none;
}
.sidebar-main-menu button.menu-collapsed {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.sidebar-main-menu.collapsed {
  -webkit-transform: translateX(calc(-100% + 70px));
  -moz-transform: translateX(calc(-100% + 70px));
  -ms-transform: translateX(calc(-100% + 70px));
  -o-transform: translateX(calc(-100% + 70px));
  transform: translateX(calc(-100% + 70px));
}
/* ---------- CONTENT ----------- */
/* ---------- FOOTER ----------- */
footer.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 180px;
  width: 100%;
}
footer.main-footer .footer-separator hr {
  border-color: #204d6a;
  margin: 50px auto 30px;
}
@media all and (max-width: 767px) {
  footer.main-footer {
    height: auto;
    margin-top: auto;
  }
  footer.main-footer p,
  footer.main-footer ul li {
    text-align: center;
  }
  footer.main-footer .text-logo {
    display: block;
    float: none !important;
    text-align: center;
    padding: 20px 0;
  }
}
/* ---------- OVERLAY ----------- */
body .body-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: calc(100% - 300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}
body .body-overlay .table {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body .body-overlay .table .cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
body.menu-collapsed .body-overlay {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  width: 100%;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}
.has-tooltip {
  position: relative;
}
.has-tooltip .tooltip-menu {
  position: absolute;
  top: -64px;
  height: 54px;
  left: -50%;
  z-index: 1000;
  background: #204d6a;
  display: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.has-tooltip .tooltip-menu .tooltip-content {
  padding: 10px;
}
.has-tooltip .tooltip-menu .tooltip-content .fileUpload {
  position: relative;
  overflow: hidden;
}
.has-tooltip .tooltip-menu .tooltip-content .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.has-tooltip .tooltip-menu.active {
  display: block;
}
.tablesort-sortable {
  position: relative;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  padding-right: 20px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.tablesort-sortable.tablesort-asc {
  background-color: #3886b8;
  color: #fff;
}
.tablesort-sortable.tablesort-asc::after {
  content: "";
  position: absolute;
  right: 10px;
  margin-top: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid #fff;
}
.tablesort-sortable.tablesort-desc {
  background-color: #3886b8;
  color: #fff;
}
.tablesort-sortable.tablesort-desc::after {
  content: "";
  position: absolute;
  right: 10px;
  margin-top: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-top: 6px solid #fff;
}
.table .img-thumbnail {
  max-width: 50px;
}
.table .showIfLast {
  display: none;
}
.table.table-with-thumbnails tr td {
  padding-top: 15px;
}
.table.table-with-thumbnails tr td img {
  margin-top: -10px;
}
.table td.form-cell {
  padding: 20px;
  background: transparent;
}
.table.sorted-table th.sort-available {
  cursor: pointer;
}
.table.sorted-table th.sort-active {
  position: relative;
  background-color: #3886b8;
  color: #fff;
}
.table.sorted-table th.sort-active::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #fff;
}
.table.sorted-table th.sort-active.reverse::before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  border-top: 9px solid #fff;
}
.noselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
session-downtime {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  z-index: 20;
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
session-downtime .clock {
  background: #fff;
  border: 3px solid #204d6a;
  padding: 5px 15px;
  font-size: 26px;
  color: #204d6a;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
session-downtime.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
/* ---------------------- 8. EXTRAS ---------- */
.placeholder,
::-webkit-input-placeholder,
:-moz-placeholder {
  color: #ccc;
}
::selection,
::-moz-selection {
  background: #ccc;
  color: #fff;
  text-shadow: none;
}
/* ---------------------- 9. WYSIWYG ---------- */
