<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{candidateFullName}}, <br />
    Speaking test has been canceled. Below You can find all details about this test:
  </p>
  <table style="border-collapse: collapse;">
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Language</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{language}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Trainer</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{trainer}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Company</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{company}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Starts at</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{startsAt}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Ends at</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{endsAt}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Candidate full name</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{candidateFullName}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Candidate phone</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{candidatePhone}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #000; padding: 5px 10px;"><strong>Notes</strong></td>
      <td style="border: 1px solid #000; padding: 5px 10px;">{{notes}}</td>
    </tr>
  </table>
</body>

</html>