<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{client}}, <br />
    {{candidateFullName}} speaking test was assessed by the trainer.</p>
  <p>To check the result please go to: <a href="{{testUrl}}" target="_blank">{{testUrl}}</a>.</p>
  <p>Thank you,<br>
    Accent Language Assessments Team</p>
</body>

</html>